[2017-03-23 16:17] keforbes commented on #321
Making that script more robust is definitely a good idea, but for the specific use-case, would it make more sense to release a self-contained .tar.gz or something for Linux along with the Windows .exe and MacOS .app in #312?  I don't know if a local `npm install` is the best route for users who just want to play with Oni locally.  If we can just .tar.gz a working directory in Linux I wonder if tha

[2017-03-23 16:23] extr0py commented on #321
Good point, #312 is really the way forward here - having platform-specific builds that don't depend on Node/NPM will be a huge step forward for this project.

[2017-03-23 16:25] extr0py commented on #321
I'll close this in favor of investing in #312 . FYI @teto

[2017-03-23 16:25] #321 closed

[2017-03-23 17:35] bert88sta opened #322 "Inaccurate Clicking"
This is on OSX, don't know if that has anything to do with the problem but it's become quite frustrating

https://i.gyazo.com/75e6af8103323a0ba854222008a8fdf7.gif

The gif may not be entirely clear, but I'm clicking continuously and it doesn't move up to the next line until maybe 1/3 or 1/2 of the way up the next line

[2017-03-24 13:25] extr0py commented on #322
Hmm, might have something to do with our logic in `_convertEventToPosition` in `Mouse.ts` - maybe `round` is the wrong thing to do? It seems like the coordinates maybe are getting clamped the wrong way. We might want to experiment with that function and see if we can get better results.

[2017-03-27 13:21] #322 closed

[2017-03-27 13:24] extr0py commented on #281
This default has been removed, so this is now addressed. Thanks @bert88sta !

[2017-03-27 13:24] #281 closed

[2017-03-28 12:51] bryphe opened #324 "Replace promises with async/await"
Async/await syntax is fully supported by Node 7.6, as well as TypeScript.

There are several reasons to use this syntax:
https://medium.com/@mgaafar/6-reasons-why-javascripts-async-await-blows-promises-away-tutorial-c7ec10518dd9#.8dv1y7ilu

The work required here would be:
- Remove the `Q` and `Bluebird` libraries
- Change functions returning `Promise<T>` to instead use the `async` keyword
- Use t

[2017-03-28 13:01] bryphe opened #326 "Build OSX version of Neovim as part of Oni"
Similiar to how VimR works, we should be building Neovim from source instead of including all the binaries.

For now, #325 is a quick-fix to check in the binaries to the enlistment, but we'll need a better solution long-term.

[2017-03-28 13:01] extr0py commented on #99
Using #326 to track real OSX build.

[2017-03-28 13:02] extr0py commented on #326
As part of the build, we should be adding the `gui_oni` feature, such that `has("gui_oni")` returns `1`

[2017-03-28 13:56] #99 closed

[2017-03-28 21:46] keforbes commented on #122
Another update.  I just tried this again and now there's only a minor difference in behavior.  If I open a file with Fuzzy Finder or File -> Open, everything works fine.  If I open a file by providing the filename on the command-line, the QuickInfo works fine but the imported packages don't get syntax highlighted.  I can't find any feature that isn't working, it's just that if I open a file with F

[2017-03-28 21:46] #122 closed

[2017-03-29 00:12] am2605 opened #327 "Windows Paths Issue?"
Hi Folks,

Forgive me if this has already been addressed (I did search the issues but couldn't find anything).

I've just installed this on Windows 10, and it looks really quite an exciting project.  However I'm having problems opening files in Windows.

If I select File -> Open and browse to say c:\Users\AMyers\_viminfo, it appears that the backlashes get dropped and it opens a new file called c:

[2017-03-29 03:38] keforbes commented on #327
You're right, I don't think this has been addressed.  I wrote that feature on Linux and I don't have a Windows box to test with so I'm sure it's my fault.  I'll have to see how Neovim expects this to work.  I'm afraid to just blindly replace `\` with `/` since paths with spaces might be sent with `\ ` (`<backslash><space>`).  I might be able to quote the path, though we're already quoting the whol

[2017-03-29 06:20] am2605 commented on #327
Thank you for the reply.  Fuzzy Finder does work so that's a good
workaround.

I have made a change to QuickOpen.tsx which has made it work, but I"m
not sure if there's any other conseqences of this.  The change is:

Line 358: change from

instance.command("exec \"" + message + "\"")

to

instance.command("exec " + JSON.stringify(message) + "")

On 29/03/2017 2:38 PM, keforbes wrote:

[2017-03-29 12:49] justinmk commented on #327
In this case, that's an improvement because the `\` slashes look like escape characters to the vim command processor, since the message is dumped as a raw string to `:exec`...

But the filename arg should also be wrapped in vim's `fnameescape()`...

This seems harder than it should be :<

[2017-03-29 14:13] extr0py commented on #327
Thanks all for the detailed investigation, and @am2605 for reporting this! I'm able to repro this on Windows as well so I can test out some of the fixes

It seems like based on the notes on `path` here: https://nodejs.org/api/path.html that Windows will support both styles of path characters - `\` and `/`, however the node APIs only return `\`, and this causes problems for VIM.

I think a reasonab

[2017-03-29 14:56] keforbes commented on #327
https://github.com/electron/electron/blob/master/docs/api/dialog.md
I'm not setting `multiSelections` to `true` so I believe we're guaranteed there will only be one result from the `showOpenDialog()` call.

[2017-03-29 15:05] extr0py commented on #327
Good point, you're right, we shouldn't have to worry about the multi-selection case for now.

[2017-03-29 15:09] extr0py opened #329 "Root path with spaces breaks `Oni`"
Discovered this while working on #312 - if Oni lives in a path that has spaces, like:
- `C:/program files (x86)/Oni/oni.exe`

the app will fail to load. The issue that the runtimepaths set via `set rtp+=` aren't being set properly.

This is easy to repro by cloning Oni into a directory of the form like: `\test folder with spaces\oni`.

It's blocking the installation work though because on Windows

[2017-03-29 20:32] #329 closed

[2017-03-29 21:59] keforbes opened #331 "Cursor gets stuck as `|` when using text objects"
In the video below, I'm inside a `{ }` block.  I hit `vi{` to go into visual mode, select inner text object, bounded by `{ }`'.  After that, my cursor becomes `|` and remains like that as I hit `h` and `l`.  I then hit `<Esc>` to exit visual mode and the cursor stays a `|`.  For whatever reason, I then hit `<Space>` and the normal cursor shape comes back.

![cursor](https://cloud.githubusercontent

[2017-03-29 22:31] am2605 commented on #327
Thank you so much for your quick fix.  I have just checked out the branch with #328 and it has resolved the issue.

This is an awesome project - kudos to all involved.

[2017-03-29 22:41] extr0py commented on #327
Cheers, thanks for validating the fix and the kind words!

[2017-03-29 22:41] #327 closed

[2017-03-29 22:45] extr0py commented on #331
Ah, interesting - I noticed this too intermittently but wasn't able to isolate a repro. It's great that you caught it in action 👍

I'm wondering if there is some behavior / event timing difference in the latest Neovim. I didn't notice this until I updated the windows binaries. Or maybe there is a new value that comes from the `mode_change` event from the `msgpack-rpc` interface. It'd be helpful to

[2017-03-29 23:05] am2605 opened #332 "MYVIMRC not set?"
Not sure if this is another Windows issue or not.

If I select File->Preferences -> Edit Neovim Config, it loads an empty file.  If I enter some text there and save it, it creates a file named $MYVIMRC in the directory I launched the app from.

Am I supposed to set this myself, or should oni be giving it a value?

[2017-03-30 00:05] keforbes commented on #332
I've seen the same issue but couldn't reproduce it.  When you opened the file it tried opening `$MYVIMRC` rather than expanding that to `init.vim`.  Saving the file then wrote out that incorrect name.

I saw the problem once but then when I selected the menu item again it opened the file correctly.  I'm not sure what steps are needed to reproduce.

[2017-03-30 00:10] keforbes commented on #332
When you select `Edit Neovim Config`, check to see if it says `$MYVIMRC [new file]`

[2017-03-30 00:59] am2605 commented on #332
Yes, I can confirm it says `$MYVIMRC [new file]`

[2017-03-30 02:36] bert88sta commented on #6
@tjdevries: you seem to have a decent amount of knowledge on the subject. After we hijack VSCode's implementation and use it for our own nefarious purposes, would we just have the gui act as a sort of middleman between langserver and your shim?

[2017-03-30 13:57] extr0py commented on #332
Strange - I wonder what we are sending over in `browser\src\index.tsx`:
[code]

Also, if you start `Oni`, and then type `:e $MYVIMRC`, do you get a different result? I'm wondering if there is some difference in terms of how we are opening it up

[2017-03-30 13:59] extr0py commented on #332
Weird, I was able to  reproduce this on my Linux box but not on my Windows box. And if I run `nvim` from terminal, I get the same issue - so this might be an issue with neovim itself as opposed to Oni.

[2017-03-30 15:43] keforbes commented on #332
Maybe I'm misunderstanding your comment, but `$MYVIMRC` is coming from `Commands.ts`
[code]

[2017-03-30 15:44] keforbes commented on #332
For what it's worth, I see this issue on my Ubuntu system but not my Arch system. :man_shrugging:

[2017-03-30 16:08] keforbes commented on #331
I'll dig a bit deeper but here's the current behavior:

When I hit `v`, I see `-- VISUAL --` in Oni but no `mode_change` event fires.  I then hit `i` (nothing happens) then `{` and suddenly I get a `mode_change` event for `cmdline` and the cursor is stuck in `|`.  When I hit `<Space>`, I get a `mode_change` for `cmdline` followed by `normal` followed by `cmdline` followed by `normal`.  `normal` is

[2017-03-30 19:28] keforbes commented on #331
Another update.  When I hit `{` and get the first `mode_change` for `cmdline`, the msgpack object actually has 15 entries of `normal` and 1 entry of `cmdline` which happens to be at `a[0][0]`.  The code is only expecting to find an entry at `a[0][0]` so we set our new mode to `cmdline`.

![mode_change](https://cloud.githubusercontent.com/assets/817509/24522006/617e1fa8-154b-11e7-90ae-ad4870f91cf6.

[2017-03-30 20:28] keforbes commented on #331
I wonder if Oni is actually running some requests under the hood which are modifying the mode.  I'm seeing things like:
https://github.com/neovim/neovim/issues/5685
https://github.com/neovim/neovim/issues/6166
which are probably the real root cause for the madness I'm trying to code around.

[2017-03-31 00:11] am2605 commented on #332
I am getting the same result.

`:echo $MYVIMRC` is blank, it seems to me like the variable does not get set at all.

[2017-03-31 00:17] am2605 commented on #332
If I launch nvim-qt.exe from oni\bin\x86\Neovim\bin, `:echo $MYVIMRC` gives me `~\AppData\Local\nvim\init.vim` which is what I would expect.

I wonder if nvim-qt.exe is doing anything to set this value that doesn't happen when nvim.exe is called directly?  When I launch nvim.exe I get:

[code]

So I don't know how to see what's set in there - is there any way I can tell?

[2017-03-31 05:27] am2605 commented on #332
From nvim/runtime/doc/starting.txt:

Is this perhaps relevant?

[2017-03-31 05:38] am2605 commented on #332
Yes, it's definitely to do with the above.

If I change  `"oni.useDefaultConfig": false`, the file now loads.

So I think because when useDefaultConfig is true, oni passes through the '-u' argument to nvim, I think is actually perfectly correct?

I have found another issue when I useDefaultConfig: false, but I'll open a new issue for that.  I think this one might be okay to close?

[2017-03-31 14:12] extr0py commented on #332
Oh, nice find! This explains the behavior I'm seeing now. On my Windows box, I have `oni.loadInitVim` set to `true` - whereas my Linux box I don't have it set. This explains why it works correctly on Windows, but not Linux for me. Thanks for the investigation - glad we know what is going on now! :smile:

Yes, based on the snippet from the docs you posted, it seems this would be expected behavior.

[2017-03-31 14:21] extr0py opened #334 "TypeScript language service does not work with path with spaces"
Additional issue following from #329.

Repro:
1) Clone Oni into a folder path with spaces
2) Build & Run Oni
3) Open debugger

Turns out the typescript language service will also not start if the root path for Oni has spaces in it:
[code]

This means that none of the JavaScript / TypeScript language service functionality work in this scenario.

[2017-03-31 14:33] extr0py opened #335 "UI - Error Marker: Error Marker overlaps error at end of line"
The error marker UI is very helpful for real-time feedback of issues and problems in the code, however, our current design is impractical if the error is at the end of the line.

![image](https://cloud.githubusercontent.com/assets/13532591/24554927/2704b618-15e4-11e7-9f1a-c003b9ec176a.png)

In this case, the error overlaps the problem, so it is very difficult to fix.

A good inspiration for fixing

[2017-03-31 14:37] keforbes commented on #332
Good job @am2605!

@extr0py, I like your idea with Option 2, especially if it's more aligned with your vision for the project.  I think we should hide `Open Neovim Config` if `oni.loadInitVim` is `false` but I also think we should add a comment in the default `config.js` file which says something along the lines of
[code]
So users will know why the menu item may or may not appear.

[2017-03-31 21:59] extr0py commented on #312
We now generate linux (deb, rpm, tar.gz), osx (dmg) and windows (exe, zip) packages for tags. Will create a new release on Sunday!

[2017-03-31 21:59] #312 closed

[2017-03-31 22:14] extr0py commented on #334
Committed a fix to add quotes around the path

[2017-03-31 22:20] extr0py commented on #331
Nice find here! I would imagine those issues you linked are responsible. We may want some additional logging to see the sort of requests we are making to Neovim via msgpack-rpc. It's possible that there are some cases where we are making queries in the background, and that is interrupting the command sequence.

For the cursor case in particular, we might be able to handle that by handling that arr

[2017-04-02 18:17] teto commented on #185
Related to palette you might be interested in https://github.com/neovim/neovim/pull/6288 (just need a US native to fix the descriptions with better English skills than I)

[2017-04-03 07:46] John0x opened #341 "Vim-plug with oni on windows"
Hey, I wan to add the LanguageClient-neovim plugin to my Oni, since I need support for the Rust Language, but in order to do that, I need to install vim-plugin, how can I do that?
I'm on windows 10 64bit

[2017-04-03 13:52] FrigoEU opened #342 "Issue starting for first time"
Hey, love the project and support excited about its future!

I had a problem first starting it though. Electron started, and I just got a blank white screen. After some debugging (I only managed it with npm run start), I found that I was missing a .oni folder. I had to make it manually.

I thought I'd let you know since it can be a real downer for first time starters to just get a blank screen.

[2017-04-03 13:58] extr0py commented on #342
Thanks for the report @FrigoEU and for digging in to debug it!

Just a couple questions:
- Which platform is this?
- Which installer package did you use?

Appreciate the heads up!

[2017-04-03 14:11] extr0py commented on #341
Hi @John0x , thanks for trying out the project! One of the long-standing goals is to have tight-knit integration with the language server protocol - and we're tracking this with #6

There are a couple of things you'd need to do:

### Load `init.vim`

By default, Oni does not load the `init.vim`, in order to avoid collisions with Oni's settings. You can set the `oni.loadInitVim` configuration value

[2017-04-03 14:18] extr0py commented on #342
I'm not able to reproduce this with the Windows binary or with the Mac dmg - but let me know which platform you used. I'm wondering if it is there is a different configuration on my machine, or if I haven't tested the right platform. Thanks for your help!

[2017-04-03 14:20] extr0py commented on #341
I realized that the Neovim binary that is packaged with Windows does not include Python support, but vim-plug requires Python. Are you able to run the `LanguageClient-neovim` with neovim-qt?

I think we would need another configuration option for this - the ability to specify an alternate neovim binary - something like `oni.neovimPath`, which we don't have yet.

[2017-04-03 14:26] extr0py opened #343 "Windows Installer: Fix Casing of `Oni`"
Currently in 0.2.1, the Windows installer installs Oni to `C:\Program Files (x86)\oni`. It should be `C:\Program Files (x86)\Oni` instead.

[2017-04-03 14:29] justinmk commented on #341
FWIW, vim-plug won't require python once we fix the remaining Windows bug in nvim core. That will be done this week.

[2017-04-03 14:34] extr0py opened #344 "Windows Installer: Add option to add Oni to %PATH%"
Oni should be available on the %PATH% in Windows, so that a user can type `oni` from a terminal and start up Oni.

The installer currently provides no option to do this - we should add a checkbox / option that states `Add Oni to %PATH%`

[2017-04-03 14:37] extr0py opened #345 "Windows Installer: Add option to run Oni after installation"
There should be an option in the Windows installer to run Oni after installation.

[2017-04-03 14:43] extr0py opened #346 "Mac: Create way to add Oni to $PATH"
I'm not sure what the best practice on Mac is, but similar to #344 on Windows, there should be an option to add `Oni` to the `$PATH` variable so that it is accessible from the terminal.

VSCode has an interesting way of handling this:
https://code.visualstudio.com/docs/setup/mac
![image](https://cloud.githubusercontent.com/assets/13532591/24614788/2f9257d6-1841-11e7-886c-6512bf83cc8a.png)

By expo

[2017-04-03 17:26] mixedCase commented on #342
I can reproduce this on Arch Linux. Had to create a ~ /.oni directory for it to work.

[2017-04-03 18:22] trusktr commented on #88
Not sure what you're doing for the react stuff, but if you `key` lines by line number, then when scrolling, React dom diff will only remove the line at the top and and a new line at the bottom, without touching the DOM in the middle (it will re-use the DOM in the middle without making new instances of either DOM objects or React Components), so scrolling might be really fast.

[2017-04-03 18:23] trusktr commented on #88
The only slower parts would be (for example) deleteing a line or inserting new lines, because then all the lines below the modified part of the screen would be re-keyed. React will be smart enough to actually re-use the DOM still though, it's really smart.

[2017-04-03 18:24] FrigoEU commented on #342
I'm on OSX 10.11.4.

I started out building from source, got that error. Then I used the Mac dmg, same thing. I built from source a few more times, still the same thing. Then I started up the hot reload build, and immediately got the error in the dev tools so I finally found it like that.

I'm on a fairly ordinary system and don't think I have anything special set up anywhere. Really wish I could

[2017-04-03 18:29] trusktr commented on #88
It seems much faster now though anyways!! Haven't tried on a vertical monitor yet, I'll try when I get to one...

[2017-04-03 18:46] keforbes commented on #342
I was able to reproduce this in Linux.  Fixed in #347.  Thanks for catching it!

@extr0py, since this affects a user's first impression of Oni I'd recommend rolling out a new release with the fix. :smile:

[2017-04-03 19:05] extr0py commented on #342
Thanks all for the details, and @keforbes for the quick fix! I'm able to reproduce it by removing my `.oni` folder. I'll pick up @keforbes fix ASAP and push out a new release.

[2017-04-03 19:10] extr0py commented on #342
I'm hoping that #298 will help build a safety net for this in the fture - running a quick integration test where start up the app and validate some simple scenarios. This would've helped here since the build machines wouldn't have had a `.oni` folder

[2017-04-03 19:36] #342 closed

[2017-04-03 19:40] extr0py opened #350 "Enable Asar packaging for installation"
For v0.2, the `asar` option was set to `false` - meaning the app is not bundled into an asar archive. The electron-builder docs recommend keeping this as true, but excluding certain files. This can also help with the app launch speed. On all platforms, we get this warning due to disabling asar packing:

[code]

To re-enable it, the files in the `bin` folder must be excluded.

[2017-04-03 21:39] extr0py commented on #342
Release has been updated: https://github.com/extr0py/oni/releases/tag/v0.2.2-recovery

[2017-04-04 11:40] extr0py commented on #341
Nice, that's great news!

[2017-04-05 10:12] FrigoEU commented on #314
Hey, I'd like to do this, but was wondering what should be in the redux store and what shouldn't. I guess the backgroundColor should be in the store, and the use of the config singleton will stay like that? Or should/will the config object also migrate to the store at some point?

[2017-04-05 15:02] #334 closed

[2017-04-05 15:02] #332 closed

[2017-04-05 15:03] extr0py commented on #332
Looks like this has been fully addressed by @keforbes fix - feel free to open a new issue if there is additional work we should look at here!

[2017-04-05 15:05] extr0py commented on #220
Looks like this is no longer applicable, since we now use binary releases.

[2017-04-05 15:05] #220 closed

[2017-04-05 15:06] extr0py commented on #185
Closing since this was fixed by @jasonszhao . Will look forward to picking up that Neovim change and including those commands in the Oni command palette :)

[2017-04-05 15:06] #185 closed

[2017-04-05 15:07] extr0py commented on #177
Thanks @keforbes ! I'll close this since the fix is in now. @jordwalke , feel free to reopen if you are still seeing issues.

[2017-04-05 15:07] #177 closed

[2017-04-05 15:10] #92 closed

[2017-04-05 15:11] extr0py commented on #92
We have most of the keyboard shortcuts documented now, and are in the process of moving some of our documentation to the gitbook / wiki.

[2017-04-05 15:12] extr0py commented on #23
Looks like this issue is resolved, and #201 is tracking an external statusline implementation, which should help making Oni look like a real IDE :smile:

[2017-04-05 15:12] #23 closed

[2017-04-05 16:19] extr0py commented on #225
Looks like this was addressed by #256, so closing this one. Feel free to open a new issue if there are still any concerns. Thanks!

[2017-04-05 16:19] #225 closed

[2017-04-05 23:40] jordwalke commented on #177
Awesome!

[2017-04-06 13:42] extr0py opened #353 "Move config options to Redux store"
One question that has come up a few times as we're working on some new UI work is whether config options belong in the Redux store.

If the config options are _not_ in the Redux store, that means the React components are not _pure functions_ and that has some implications on hot-reloading, unit testing, etc.

If the config options _are_ in the Redux store, it means there might be a bit of extra bo

[2017-04-06 13:43] extr0py commented on #314
Hi @FrigoEU , sorry for the slow response on my end! Good question about the Redux store. I could see us migrating these config options at some point to the redux store, but I looked at your PR and you did the right thing here - added `backgroundColor` to the redux store and leveraged the rest from config values. I opened #353 to track discussion around this but it isn't pressing and certainly sho

[2017-04-06 13:51] extr0py commented on #314
Fixed by #352

[2017-04-06 13:51] #314 closed

[2017-04-06 13:53] extr0py commented on #350
The fix for this issue should:
- No longer have the warning that our app is not packaged via asar
- All app contents bundled in the `asar`, except for things that truly cannot like the Neovim binaries
- Work on all platforms (Windows, OSX, Linux)

[2017-04-07 01:27] bryphe opened #355 "Improve Startup UX & perceived performance"
The "startup" experience of Oni is very choppy and disjointed. The experience today is:
- ...some delta between running 'oni' and having a browser window show up
- A blank, white screen is shown
- A black screen with a green cursor in the top left is shown
- The editor finally appears

I'd like to address it by the following:
- Show a splash screen as quickly as possible
- Show a black screen with

[2017-04-07 15:12] keforbes commented on #355
I was thinking earlier about this but with a different approach... would it be possible to launch electron, connect to Neovim, wait maybe 1-2 seconds and *then* load all the fancy features Oni provides?  If we can display a window with Neovim as fast as possible I think it would be fine for a small delay before loading all the quickinfo, autocomplete, fuzzy finder, command palette, etc.

I guess i

[2017-04-07 18:35] extr0py commented on #355
Yes, sounds like we're pretty much on the same page here! One benefit of the architecture Oni has - that of running JavaScript plugins outside of Neovim - is that we can load them in parallel while Oni is loading.  As you mention, you really don't need all of the quickinfo/autocomplete immediately, and that can be deferred and parallelized until we've actually rendered some UI.

Another nice thing

[2017-04-07 19:07] bert88sta commented on #346
After npm install, nom run build, and nom link, I discovered by accident that I could run Oni from anywhere in terminal, and even on Spotlight. Is this not the case for other installation methods?

[2017-04-07 19:59] keforbes commented on #346
It is the `npm link` command which is adding `oni` to your `$PATH`.  The current installer is not performing an equivalent operation.

[2017-04-08 16:42] #282 closed

[2017-04-10 15:55] keforbes commented on #353
Fixed by #356.

[2017-04-10 15:55] #353 closed

[2017-04-10 17:08] keforbes commented on #341
@justinmk, can you tell us what "the remaining Windows bug in nvim core" is so we can follow its progress?

[2017-04-10 18:54] justinmk commented on #341
@keforbes https://github.com/neovim/neovim/pull/6359 (if you can try that PR, that's also helpful. But it's only waiting on cleanup and merge, which has been "my next priority" for a week now...)

[2017-04-11 14:07] extr0py opened #361 "UI: Externalize tab lines"
The goal for this WI is to externalize the tab lines, so that we can have a tab experience like Atoms:

![image](https://cloud.githubusercontent.com/assets/13532591/24913212/4cb3c4a4-1e85-11e7-944c-eb1f0404ab18.png)

There are a couple of parts to this:
- Create a `Tabs` and `Tab` component
    - `Tabs` should be a collection of `Tab` and handle things like overflow and the actively focused tab

[2017-04-11 14:08] extr0py commented on #361
The work in #201 is sort of a pre-req to this, as it contains some DOM refactoring that would make it easier. However, the `Tabs` and `Tab` component could be developed in isolation in the iterim

[2017-04-11 14:14] extr0py opened #362 "UI: Externalize Window Management"
There are several shortcomings to how Oni manages windows today.
- __Convoluted code path__ - the overlay / overlaymanager concepts are unnecessarily complex and confusing
- __Difficult to extend__ - it's non-trivial to add new functionality, like a git blame marker plugin, or something like markdown preview

For the overlay scenarios, it'd be really nice if each split had its own 'container' div.

[2017-04-11 20:44] keforbes commented on #346
For what it's worth, all that command does in vscode is creates a symlink to `/usr/local/bin/code`.  And it only enables that "Shell Command" `if (process.platform === 'darwin') {`.  I guess we could put a similar command in our Command Palette since users don't get to answer any questions during install on a Mac.

Or, on first launch (on Mac) we could pop-up a prompt to the user asking "would you

[2017-04-12 06:03] FrigoEU commented on #331
I'm unsure if this is related, but I'm getting one really annoying behavior. When I just type :vsplit + Enter, I make a vsplit, move to it, everything's good. However I have a keybinding (<leader>v) that does the exact same thing but silently

[code]

The split opens, my cursor moves there, but also it looks like it's in insert mode but I actually can't insert and am in this weird limbo until I eg

[2017-04-13 19:08] bryphe opened #366 "Keyboard Accessibilty for non-Vim/Neovim features"
One major selling point for me in using Vim/Neovim is keyboard accessibility. In fact, the reason I started using Vim in the first place was because I had trouble coding on an airplane and hated touchpads ✈️ 😄

At the same time, Oni is exploring bringing in some modern, non-terminal UX features that are present in more modern IDEs. The log viewer in #365 is an example - some other examples might b

[2017-04-13 19:47] extr0py opened #367 "Plugins: Implement on-demand activation of plugins"
In the current plugin architecture, all plugins are loaded and activated immediately on launch.

As we add more language service providers, this will not be acceptable as each plugin activation incurs performance overhead.

To accomodate this, and stay lightweight in the midst of increasing plugins, we should add a model similiar to VSCode's `activationEvents` - these specify the criteria in which

[2017-04-13 23:44] keforbes commented on #341
It looks like neovim/neovim#6359 was closed in preference to neovim/neovim#6387 which was closed in preference to neovim/neovim#6497 which was merged in two days ago.  So it's possible this issue has been resolved in the latest neovim build.

[2017-04-13 23:52] keforbes commented on #335
Fixed by #357.

[2017-04-13 23:52] #335 closed

[2017-04-13 23:53] keforbes commented on #313
Fixed by #360.

[2017-04-13 23:53] #313 closed

[2017-04-14 13:50] extr0py opened #369 "Performance: TSLint - Replace `findParentDir.sync` in `getLintConfig` with async call / promise"
While looking at some performance issues, I saw that `findParentDir` is called synchronously in tslint - need to refactor that to be asynchronous and return a promise instead.

The file is `vim\core\oni-plugin-tslint\lib\index.js`. This is called whenever we decide to do linting, which right now is on buffer enter and buffer save.

[2017-04-14 21:47] extr0py commented on #98
#365 makes progress towards this - I think it makes sense to keep open to track the alert / pop-up notification scenario, though.

[2017-04-14 21:51] extr0py opened #370 "UI - Logs: Style scrollbar for logs UI on Windows"
Came from discussion on #365

On Windows, the scrollbar UI looks like the native scrollbar, so it is a bit out of place in Oni:

![image](https://cloud.githubusercontent.com/assets/13532591/25057084/d41cb326-2121-11e7-9fb4-076df5d188df.png)

We should look at restyling this scrollbar so it looks consistent with the rest of the UI.

[2017-04-15 15:20] bryphe opened #372 "Performance: Make plugin initialization path async"
In `Plugin.ts`, the plugin initialization path is synchronous:

[code]

Making this async (by factoring out to an initialize method that returns a promise, instead of doing two synchronous File I/O calls) will help improve startup performance and responsiveness.

[2017-04-15 20:10] extr0py commented on #367
Resolved by #371

[2017-04-15 20:10] #367 closed

[2017-04-15 20:13] #343 closed

[2017-04-17 20:59] keforbes opened #373 "Mouse wheel in Logs area scrolls both Neovim and Logs"
Using the mouse wheel in Neovim scrolls the file but using the mouse wheel in Logs scrolls both Logs *and* Neovim.

![mouse_wheel](https://cloud.githubusercontent.com/assets/817509/25104649/5dc224c2-237e-11e7-9a57-09256dc9a3ef.gif)

[2017-04-19 10:08] corelon opened #374 "Disable ligatures"
Hi,

Although I like ligatures for coding with fonts like Fira Code, some other fonts (Space Mono) have ligatures that I would not like to see in the code (e.g. fi).
Is it possible to disable ligatures as a setting somewhere?

Many thanks,

Nikos

[2017-04-19 11:38] extr0py opened #375 "Language Server: Language server does not restart correctly when project changes"
When switching between files in different csprojs, the language server should restart with a new set of initialization params - however, there is an issue with reinitializing that causes the language server not to start again.

[2017-04-19 11:41] extr0py opened #376 "Autocompletion: Inconsistent behavior if there is no substring match"
This occurred frequently in the C# completion strategy as I was testing, but it is not actually specific to that strategy, as this reproduces in TypeScript as well.

### Case 1:
`window.|` -> choose `setTimeout`

__Expected__: `window.setTimeout|`
__Actual__: `windowsetTimeout|`

### Case 2:
`private _onBufferUpdate(args: Oni.|)` -> choose `EventContext`

__Expected__: `private _onBufferUpdate(arg

[2017-04-19 11:43] extr0py opened #377 "Refactor code to use `CompletionItemKind` constants instead of string constants"
In the auto-completion dialog, we are using string constants instead of `CompletionItemKind` members - we should switch to using the language protocol constants instead of Oni-only constants.

[2017-04-19 11:44] extr0py commented on #377
In general, for the Oni plugin API, we should use those VS types as well for things like quick info, find definition, etc.

[2017-04-19 11:44] bryphe opened #378 "Language Client: Implement signature help"
Implement signature help functionality: https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_signatureHelp

[2017-04-19 11:45] bryphe opened #379 "Language Client: Implement syntax highlighting"
Language protocol-supported syntax highlighting can be built using the documentSymbol request:
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_documentSymbol

[2017-04-19 11:47] bryphe opened #380 "Implement TypeScript services as language server"
The code we are using currently for the TypeScript language functionality should either be refactored to a language server, or preferably, we should leverage a common language server functionality like here:
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_signatureHelp

[2017-04-19 11:50] extr0py commented on #374
Hi @corelon ,

Thanks for trying out Oni and for the feedback!

There is no setting that exists today, ligatures are always on, but I believe this should be relatively straightforward - the ligatures are controlled by a CSS property `font-variant-ligatures`. So we'd just need to add a config that controls this property:
https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-ligatures

[2017-04-19 11:56] extr0py opened #381 "Performance: Evaluate V8 snapshots"
Atom had an interesting strategy for improving startup performance in their blog post here:
http://blog.atom.io/2017/04/18/improving-startup-time.html

They are leveraging V8 snapshots to output a JS heap. This saves all the parsing and processing of JS, which is non-trivial as the bundle.js for this project gets larger.

There are some restrictions (V8 snapshots run in a bare V8 context), so it's

[2017-04-19 11:57] extr0py commented on #381
One possible avenue to help with #355, but improving the real startup performance.

[2017-04-19 12:11] extr0py opened #382 "Performance: Evaluate VimL compilation strategy"
As part of the performance push, @jordwalke proposed the idea of caching the JS configuration via a raw VimL script:

From #351, quick summary of @jordwalke's idea:

There were also good discussions around this in #20 and #35 . I felt it deserved its own issue since it keeps being sidelined.

In terms of evaluating this proposal, it would be helpful to benchmark the loading times today for the pie

[2017-04-19 12:18] extr0py commented on #373
Thanks for catching this, @keforbes . Seems like we need to rationalize the way we are handling the scroll event - I think we just put it on the `document.body`, but for the editor itself, we should be listening to the root element.

[2017-04-19 12:30] extr0py opened #383 "Language Client: Show language server status in status bar"
Dependent on #201 - but it's helpful to get an update of what the language server is doing. In some cases, like Omnisharp, the initial load can be slow since it downloads a binary - it'd be helpful to have an indicator / spinner / error icon to show the state of the language server.

[2017-04-19 12:31] extr0py opened #384 "Integrate Python language server"
Palantir has a python language server implementation: https://github.com/palantir/python-language-server

[2017-04-19 12:33] extr0py opened #385 "Integrate Rust language server"
Rust just had a release of their language server: http://www.jonathanturner.org/2017/04/rls-now-in-nightly.md.html

[2017-04-19 12:49] extr0py opened #387 "Language Client: Show error markers"
Add support for language client diagnostics:
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_publishDiagnostics

This may also require implementation of didSave:
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_didSave

[2017-04-19 13:00] FrigoEU commented on #362
For me, this issue is super important, but also still very vague. I love Vim's editing experience but hate its extensibility story. Now most extensions that I'm interested in (and spacemacs is my biggest influencer here) are a git interface, keybinds explorer, compilation feedback, search, etc. These are all panels that are being drawn over/around the editor.

I don't know how you see this, and I

[2017-04-19 13:22] extr0py opened #389 "Integrate OCaml/ReasonML language server"
Language server here: https://github.com/freebroccolo/ocaml-language-server

Wanted an excuse to learn more about these languages 👍 👍

[2017-04-19 13:35] #387 closed

[2017-04-19 13:36] extr0py commented on #378
Based on what the language server protocol gives us for this, the signature help UI might need to be restyled.

The typescript language service gives us separator characters for each parameter. However, the language server just gives the function name, a description, and argument info. A better format for representing that might be a bulleted list, and the selected argument can be highlighted.

[2017-04-19 18:54] extr0py commented on #6
Initial LSP support is now in Oni - a reference plugin leveraging the language client is available in the `oni\vim\core\oni-plugin-csharp`.

As mentioned in the PR, have several follow up issues being tracked (additional functionality, additional out-of-the-box language support, etc):
#382 #381 #380 #379 #378 #377 #376 #375

[2017-04-19 18:56] extr0py commented on #6
Closing as the core implementation is complete - tracking remaining work in other issues.

[2017-04-19 18:56] #6 closed

[2017-04-19 19:14] extr0py opened #391 "Language Client: Errors showing during completion"
With the C# completion strategy, it publishes diagnostics during incremental updates (key presses we send while in insert mode).

![error during completion](https://cloud.githubusercontent.com/assets/13532591/25197687/ad1e736e-24f9-11e7-8f9f-d824566c6557.gif)

We should not show / update errors while in insert mode like this, since the UI doesn't handle the errors and completion at the same time.

[2017-04-19 19:18] extr0py opened #392 "Cannot read property `setMenu` of null"
Occasionally, this error pops up:
![image](https://cloud.githubusercontent.com/assets/13532591/25197751/e835bd9a-24f9-11e7-9ce9-68fc1c50d1c5.png)

It never occurs on first launch. Only when launching a second instance, and not all the time.

The following repro seems consistent:
1) Open `oni` at command prompt
2) Open a second instance of `oni`
3) Close second instance
4) Open another instance

At

[2017-04-19 19:35] extr0py commented on #362
I'm with you 100% here. This is exactly what motivated the creation of this project.

Definitely! I have some ideas in my head, but haven't had much chance to experiment yet... I think it's worth calling out some of the primary goals:
- Git interface
- Git blame annotations
- Keybindings explorer
- Compilation feedback
- Search
- Live Preview (React components, HTML, Markdown)
- File Explorer
- Pl

[2017-04-19 19:42] #375 closed

[2017-04-20 08:08] FrigoEU commented on #362
To pile on the brainstorm, one thing that I was thinking is:

1. some functionality lives in editor windows/splits. One example of that is magit in spacemacs, which just always opens in a split next to the file that you're editing. If you already have a split open, it overtakes one split. I like your idea of reusing neovim for that to keep all the bindings working. A custom renderer also sounds li

[2017-04-20 09:49] jordwalke commented on #389
In the ReasonML Discord channel, we consistently hear overwhelmingly positive feedback about @freebroccolo's VSCode plugin and language server.

[2017-04-20 12:56] justinmk commented on #366
I wonder what mechanism could be added in core nvim to help with this. E.g. for the examples of an embedded web browser, or a graphical file tree, one can ask: what do users want carried over to those components?

The most basic thing that stands out is key mappings. As I user I would want to be able to ctrl-w to the graphical window like any other text window, as well as control its size, and hav

[2017-04-20 13:39] corelon commented on #374
Hi @extr0py ,

Thanks for the reply.
If I am not mistaken both Atom and VS Code offer that option.
For fonts like Space Mono which are very nice for coding, but have non-dev related ligatures ("fi" I mentioned in the original post) it would be good to be able to disable this, if it does not require too much effort.

[2017-04-20 14:53] extr0py commented on #374
Definitely! Thanks for your comments on the PR. I'll reopen this to track more fine-grained control of the ligature support as you suggested.

[2017-04-20 17:57] keforbes commented on #392
Addressed by #394.

[2017-04-20 20:31] jordwalke commented on #366
I would want these key bindings to integrate with the actual internal vim windows. For example in Atom, I have a binding to move to the left window or right window. It focuses either the split to the left or right but then it eventually focuses the file tree if that is the left most window. I would hope it possible to make the internal key mappings integrate well in a similar manner.

[2017-04-20 20:48] ohle opened #395 "Weird scrolling behavior when `scrolloff` is set to a non-zero value"
### To reproduce:
 - In a buffer with more lines than fit in the window, `:set scrolloff=1`
 - Move using <kbd>j</kbd> or <kbd>k</kbd>

### Expected behavior:
The cursor moves down or up, but the content of the window doesn't change until the cursor reaches the penultimate line when moving down or the second line when moving up

### Observed behavior:
When starting from the top, as soon as the cur

[2017-04-21 15:38] #392 closed

[2017-04-21 20:53] keforbes commented on #395
Yep, I can reproduce this.  That's some weird behavior.

[2017-04-22 01:53] saibing opened #396 "Can not switch non-English input method, such as Chinese input software"
Oni is very outstanding, Thank you for great work.

I use Oni on windows 7, programming and write markdown.

I found it can not switch non-English input method, such as Chinese input software.

I'm coming from China, so I need input some Chinese on write markdown.

Can you help me?

[2017-04-22 02:08] bert88sta opened #397 "vscode-languageserver-types prints (benign) errors during build"
[code]

[2017-04-22 04:14] jordwalke commented on #379
Is there a really good example of an editor using this without a Flash of Unstlyed Content or other lags? Does VSCode currently use this? Does going out of process make performance more difficult? I'm not skeptical, just curious.

[2017-04-22 05:00] jordwalke commented on #382
I completely agree. It's bad to design under false/incomplete assumptions about performance.

My main point was that, it's critical to get all the UI blocking things out of the load path, as much as possible. It doesn't necessarily come down to VimL vs. JS performance, though we should also measure that - but often is more a matter of the *massive* amount of runtime dependencies JavaScript develop

[2017-04-22 11:41] justinmk commented on #382
nvim_call_atomic exists for batching all RPC calls.

RPC is quite fast, actualvim proves this. VimL execution isn't involved unless you send VimL to be evaluated. But we currently don't have a lot of native functionality exposed directly as RPC functions.

[2017-04-22 20:48] unclechu opened #398 "Vundle plugins from my config isn't initializing"
I've just build app from 1aa7f4126414d33810aa9499b8dce4e190e02f86 commit by [README](https://github.com/extr0py/oni/tree/1aa7f4126414d33810aa9499b8dce4e190e02f86#build) instructions and sourced [my config](https://github.com/unclechu/neovimrc/blob/795c052f9fe20f8f6d1288e3185d21851e873b6f/init.vim) by command: `source ~/blablabla/init.vim`. Config was applied but none of specified plugins by `Plugi

[2017-04-22 21:25] ohle commented on #398
Have you tried setting `"oni.loadInitVim"` to `true` in `~/.oni/config.js` (or preferences -> edit ONI config from the main menu) instead of sourcing?

[2017-04-23 16:06] unclechu commented on #398
@ohle this way it's working, thanks. I wonder why it doesn't work by sourcing?

[2017-04-23 18:46] unclechu opened #399 "`set virtualedit=all` doesn't works in normal-mode"
1. In *normal mode* when I'm trying to move cursor after last filled column it immediately returns back;
2. In *insert mode* it acts the same when auto-complete window is opened;
3. In *insert mode* after auto-complete window was opened and I move cursor by lines it doesn't close but may be it should be separated issue.

[Short screencast that demonstrates it](https://youtu.be/r_bsYfBRcPE).

[2017-04-23 20:18] ohle commented on #398
I'm not really sure, but there are some subtle ways in which `init.vim` loading is special. Probably load order and the construction of the runtimepath has something to do with it.

I'd guess that if you start regular neovim with `-u NONE` to skip your `init.vim` and then `:source` it later, you'd run into the same problems.

[2017-04-23 21:41] unclechu commented on #398
@ohle you're right, it's true, I have the same situation with `nvim` TUI, so this isn't connected to the Oni. Thank you again for clarifying it for me, I'm closing this issue because it solved by setting `oni.loadInitVim` option to `true`.

[2017-04-23 21:41] #398 closed

[2017-04-24 09:55] unclechu opened #400 "Is it possible to connect to existing nvim instance?"
Neovim could be started as daemon with `--headless` mode and then some GUI could be connected to it. For example:
[code]
And GUI could be attached to it:
[code]
It is useful when you start this daemon in **tmux** and nothing bad happened if you accidentally close neovim GUI window, or even terminal with opened **tmux**, you could always reattach to **tmux** session or to Neovim daemon by opening G

[2017-04-24 13:26] ohle commented on #397
Same here (Ubuntu 14.04)

[2017-04-24 15:11] keforbes commented on #400
This is currently being worked on as #299

[2017-04-25 09:28] unclechu opened #401 "Broken cursor and current line highligting after CtrlSpace"
When I enter `CtrlSpace` window and close it I have my cursor looking as in *insert-mode* and current line isn't highlighted until I go to different mode and then back, or for example press `%` (move around brackets).

Minimal `init.vim` to reproduce it:

[code]

Short screencast that demonstrates the issue: https://youtu.be/UgTj4i49T5Y

I'm sure it isn't connected directly to the CtrlSpace plugin

[2017-04-25 16:21] unclechu opened #402 "Unicode issue: Autocompletion works buggy when cursor at middle of the line"
When cursor pointed on middle of the line and I press `Enter` to accept autocomplete suggestion it pastes text incorrectly.

Minimal Neovim config to reproduce:
[code]
Short screencast that demonstrates the issue: https://youtu.be/LbiKwJZqaYs

`:version` from Neovim:
[code]

The Oni built from 1aa7f4126414d33810aa9499b8dce4e190e02f86.

[2017-04-25 17:02] unclechu commented on #402
I just realized that it doesn't act like this for everything, only when cursor is positioned after some unicode symbol. May be it counting columns by bytes and misses that not every symbol presented by same amount of bytes?

[2017-04-25 18:11] bert88sta opened #403 "Can't fullscreen, power line fonts broken."
![screen shot 2017-04-25 at 2 09 24 pm](https://cloud.githubusercontent.com/assets/8421641/25400553/faae95a2-29c0-11e7-9e6b-e02a5283b4fc.png)

Resizing works, but the fullscreen button does not

Also, the fonts are not the ones specified in my oni config.js

[2017-04-25 18:52] keforbes commented on #401
This is probably related to #331.

[2017-04-25 21:00] bert88sta commented on #403
I installed from npm and it worked. I'm not sure how different npm is from the git version, but hopefully that narrows down the issue

[2017-04-25 22:43] keforbes commented on #397
I've seen that error too but it doesn't actually affect the resulting build.  Seems benign.  It was introduced by #351 for the language server support.

[2017-04-25 22:46] keforbes commented on #396
@saibing, can you give a little more detail?  I don't know what it means to change the input method in vim.  Is there a command you're trying to run which fails in Oni?

[2017-04-26 10:28] unclechu commented on #402
I have another issues with unicode symbols, I don't need to open new issue for that because as I see it's unicode issue in general, am I right?

`nvim` TUI:
![neovim-oni-gui-unicode-issue-1-should-be](https://cloud.githubusercontent.com/assets/799353/25430085/c12bfd36-2a94-11e7-9734-f5986fb4cac4.png)
![neovim-oni-gui-unicode-issue-2-should-be](https://cloud.githubusercontent.com/assets/799353/2543

[2017-04-26 10:53] unclechu opened #404 "Ctrl+PageUp/Ctrl+PageDown bindings don't work"
I have bindings like this;
[code]
But only these works in the Oni:
[code]

[2017-04-26 11:42] bert88sta opened #405 "Can we move away from emulating neovim behavior for scrolling?"
I think the Grid implementation is a bit bad, and I don't mean that from an implementation perspective. The scrolling in oni, in my opinion, isn't worse than neovim. At least for me, it feels about the same. If we could somehow render a *large* portion of the Grid implementation but make it all on an actually scrollable page, we could just send a cursor position back to Neovim instead of sending s

[2017-04-26 13:19] extr0py commented on #405
Yep, good suggestion. The scrolling behavior in Oni doesn't really fit with what you'd expect from a modern modal editor.

There were some related ideas that @trusktr brought up in #88 - we could implement _smooth scrolling_ if we render a larger area. This would be very difficult currently until we implement #362 , which externalizes the window / buffer management. The problem today is that if yo

[2017-04-26 13:37] extr0py commented on #404
Thanks for the issue! There are a few places where we are hard-coding keybindings in the code (while working on a full solution for #20). Out of the box, `<C-PageUp>` and `<C-PageDown>` switch between active Oni processes, but I think I may be the only one using that functionality and it isn't well documented.

They are hardcoded here in `browser/src/index.tsx`:
[code]

For the `<C-pageup>` and `<

[2017-04-26 13:37] justinmk commented on #405
In nvim, externalization of tabline was just merged. Looking for feedback there, which will inform the approach for statusline, cmdline and wildmenu.

There are PRs open for those already, and work will accelerate now that we have the API contract clarified (`:help api-contract`). But we do need feedback from UI authors.

[2017-04-26 14:01] bert88sta commented on #405
I was writing just a little bit of the vim script to get the necessary data, would you care to point me to which methods were just added?

[2017-04-26 14:07] bert88sta commented on #404
@extr0py I think we should have a list of Oni commands based on object lookup defined by key mappings. This would make it so that you could define oni operations in your config.js and then have them mapped to a fast object lookup. This way we can avoid if-statements piling up and not have any hardcoding of keys.

[2017-04-26 14:28] extr0py commented on #403
Weird - I'm assuming by git version, you mean building from sources? Or did you install the dmg via the Releases tab (https://github.com/extr0py/oni/releases)?

The `npm` version is a bit outdated - I've added a deprecation page to the entry for `oni` on npmjs.org. It's strange that your config isn't loading, though. Might be worth putting a breakpoint in the `configChange` handler in `browser/src

[2017-04-26 15:48] bert88sta commented on #403
I built from source when it happened, I don't know  if it's on my end or
yours, but I installed (npm install oni) and it fixed. It's the same thing
that happens when I run it out of tmux, but I wasn't using tmux at the time

On Apr 26, 2017 10:28 AM, "extr0py" <notifications@github.com> wrote:

[2017-04-26 15:50] extr0py commented on #403
Interesting - I wonder if it is picking up the right config file. I'll see if I can repro in OSX + tmux later on.

[2017-04-26 15:54] extr0py commented on #402
Thanks for the detailed issue, @unclechu ! Having the screenshots is very helpful.

The autocompletion issue may be related to #376. There aren't any tests with that logic with Unicode strings, so it's possible that the logic being used there doesn't handle Unicode characters correctly.

The other issue seems related to the rendering strategy - it would be helpful to have a separate issue for that

[2017-04-26 15:59] extr0py opened #406 "DOM Renderer: Unicode characters are occasionally wrapped"
Split this out from #402, since this seems related to our rendering strategy. In some cases, the text size isn't being measured correctly for multibyte characters, and if the containing element is not properly sized, it will cause the text to wrap, which then causes visual artifacts.

#290 is related, and the fix is likely in a similar place.

`nvim` TUI:
![neovim-oni-gui-unicode-issue-1-should-be

[2017-04-26 16:03] extr0py commented on #400
Yep, it looks like this is tracked by #246 (help on command line) and #247 (remote capabilities). I'll resolve this as a duplicate but let me know if there is something additional we should track. Thanks!

[2017-04-26 16:03] #400 closed

[2017-04-26 16:07] extr0py commented on #397
Ya, unfortunately it looks like `vscode-languageserver-types` has this error when we include via webpack, due to the way it is compiled. It doesn't impact the runtime behavior, so it's safe to ignore - would be nice if there was  a way to filter this out or if that module was made more webpack-friendly.

[2017-04-26 16:10] extr0py commented on #401
Yep, seems like the same issue as #331 - just a different manifestation of it. Thanks for including the video, @unclechu , that's very helpful.

[2017-04-26 16:15] extr0py commented on #399
Interesting, didn't know about `virtualedit` until now 😄 . Seems like it isn't working at all in Oni.

I was curious if this was specific to Oni, and tried it out in neovim-qt.exe, which is working fine. Curious to see why this isn't working in Oni - I wonder if there is a conflict with some of the built-in settings.

[2017-04-26 16:20] extr0py commented on #396
Windows has a concept of an [IME](https://msdn.microsoft.com/en-us/library/windows/desktop/ee418266(v=vs.85).aspx), which lets you use extended character sets of change the keyboard layout. In theory this should work by default in the browser with input forms, but I'm guessing because we just pick up key events, IME doesn't work correctly.

@saibing - would it be possible to get a video or screens

[2017-04-26 16:26] extr0py commented on #405
Nice, thanks @justinmk ! Look forward to checking this out.

[2017-04-26 17:42] unclechu commented on #399
@extr0py you could look at help info for `getcurpos()` vim function:
[code]
May be the Oni uses this function to get cursor position data and uses `col` to get cursor column position but it should use `curswant` instead of.

[2017-04-27 01:40] saibing opened #407 "How to integrate fzf to oni Fuzzy Finder?"
I try to integrate [fzf](https://github.com/junegunn/fzf) to oni Fuzzy Finder by set :
[code]
But there is no change, oni still use git ls-files

[2017-04-27 01:53] saibing commented on #396
@keforbes @extr0py
I feel very sorry when I want to upload pictures to github, github reported the following error:

[code]

I think you are right, The issue should be caused by the IME event process.

[2017-04-27 16:08] extr0py commented on #407
Interesting, I haven't used `fzf` much. If anyone would be up for taking a look at this, `browser\src\Services\QuickOpen.ts` would be a good starting point, particularly this code path:
[code]

A couple of things to sanity-check:
- Is `overriddenCommand` being set correctly?
- Does `fzf` need arguments passed to it? We may need a way to update the `execCommand` string to incorporate the search arg

[2017-04-27 16:09] extr0py commented on #404
@bert88sta - 👍 , I agree, this seems like a natural time to even bring in a `keybindings.js` so we can stop baking in commands and start having them be configurable. This would remove a large chunk of if-statements especially in `index.tsx`.

[2017-04-27 16:30] bert88sta commented on #404
I don't know how we'd return the functions though given that there are
quite a few objects/modules. We could construct it at the beginning of
index.tsx, but I'm not sure that would be optimal

On Apr 27, 2017 12:09 PM, "extr0py" <notifications@github.com> wrote:

[2017-04-27 16:45] extr0py commented on #361
This was just merged in via @justinmk with this PR: https://github.com/neovim/neovim/pull/6583 . Look forward to integrating this.

[2017-04-27 17:24] #377 closed

[2017-04-27 17:36] bert88sta commented on #403
@extr0py : I've managed to completely break everything... What's the best way to purge node/oni stuff?

:(

[2017-04-27 18:34] LER0ever commented on #395
I can reproduce this too. I have scrolloff 3 in my vimrc and oni just moves the content at every 5 j scrolldown.

[2017-04-27 19:05] LER0ever commented on #395
Actually, if scrolloff is not zero, another weird scrolling occurs when you scroll from the bottom of the file up using mousewheel. The content just keeps glitching while going up. @ohle Can you reproduce this one? or it's just my configuration problem?
I've temporarily [disabled scrolloff](https://github.com/LER0ever/EverVim/commit/d51c89814d3da74af9f79ca0f0f1449cb9f9cf56) if Oni is detected.

[2017-04-27 20:03] extr0py commented on #403
Bummer!

You probably want to remove the npm-installed version of oni by doing `npm rm -g oni` (and potentially `npm rm -g oni-vim` might be around).

Once you've uninstalled the global installations, I'd recommend doing the following from the `oni` folder:
- `git clean -dxf`
- `git pull origin master`
- `npm install`
- `npm run build`
- `npm link`

That should give you a clean slate to work with-

[2017-04-27 20:23] extr0py commented on #402
@unclechu , couple of follow-up questions for you:
- I'm assuming you're running on Fedora25, is that correct?
- Would you mind posting the `init.vim` with the `xnoremap` line that is problematic? I'm not able to repro these wrapping issues on Windows, but I'm wondering if it is specific to a font.
- Are you using the default font with Oni or have you overridden it with `editor.fontFamily`?
- Do y

[2017-04-27 20:45] unclechu commented on #402
That is correct. *Fedora 25 Workstation*

[My config](https://github.com/unclechu/neovimrc/). But I didn't get which `xnoremap` matters? Are you about autocompletion? But it's default Oni's mapping (^N/^P/Enter).

I'm using **Fira Code** for ligatures, here is source of my `~/.oni/config.js`:
[code]

You could use minimal config that I put in topic to reproduce it. Just use this example:
[code]
Wh

[2017-04-27 20:59] bert88sta commented on #403
@extr0py : I did all that, deleted everything, and got an omnisharp error... maybe I'll just come back later

[2017-04-28 13:32] bert88sta commented on #403
@extr0py : I got everything to install correctly, then I ran it in tmux and it broke, and the breaking persisted to after the end of the tmux session. I can fix by fresh installing, so I'll leave this up to track breaking in tmux

[2017-04-28 14:07] extr0py opened #412 "Plugins: CSS Theming"
Aside from just color schemes changes, I'd like to add plugin support for css styling / css skinning and theming.

This would open up the door for some very in-depth customization options, as well as slick animations. This would basically allow a plugin to include a stylesheet that is loaded - allowing the developer to customize font rendering, UI, etc.

This is a placeholder for now but will add

[2017-04-28 14:10] extr0py commented on #374
I experimented and dug around a bit, and it looks like VSCode implemented this a bit differently:
https://github.com/Microsoft/vscode/issues/192
[code]
I was hoping that this would enable a bit of finer-grained control over the behavior of the ligatures, to exclude some and not others, but it still causes the `fi` ligature to be rendered via Space Mono. So I tried out with Space Mono, and it doesn

[2017-04-28 14:10] #374 closed

[2017-04-28 14:58] #345 closed

[2017-04-28 20:11] Waqar144 opened #414 "Facing issues with Youcompleteme"
**YouCompleteMe** works fine except for a small issue I am facing. If a completion pops up it won't until close until I select an option. So even if I have typed the word completely, the completion popup won't go away until
- I press `enter` to select an option
- I type `->`
-  Go back to **Normal Mode**

Other than this it sometimes pops up automatically.

----------------------------------------

[2017-04-29 17:17] extr0py commented on #414
Hi @Waqar144 ,

Thanks for the issue report! A couple questions:
- Would it be possible to get a screenshot or a gif/video if the repro? I'm wondering in particular how many entries are being shown in the completion dialog. Is it only a single item?
- Can you please run `:set completeopt` in Oni and let me know what is returned? There could be a conflicting setting there.

Thanks!
Bryan

[2017-04-29 18:18] bryphe opened #416 "Add ability to record videos & screenshots directly in Oni"
Based on the Electron desktopCapture APIs, and gif creation libraries, it should be relatively straightforward to add the ability within Oni to capture animated gifs. This would be really nice for bug repros, and to leverage with Spectron/automation to create the demo gifs automatically.

[2017-04-30 01:56] extr0py opened #419 "v0.2.3-rc - Windows: tslint / typescript plugin not loading"

[2017-04-30 03:09] extr0py opened #420 "v0.2.3-rc - Windows: omnisharp plugin not loading"
It looks like there are two issues with the omnisharp plugin:
- The path to start the omnisharp language server is not correct.
- The omnisharp language server is started with `node`, but there is no guarantee `node` is in the path

[2017-04-30 03:51] extr0py commented on #419
Fixed by #418

[2017-04-30 03:51] #419 closed

[2017-04-30 04:44] extr0py opened #422 "v0.2.3-rc: TSLint not working in release builds"
The tslint plugin makes a reference to the `.bin` folder, which is not included in the distribution builds.

[2017-04-30 14:08] Waqar144 commented on #414
Gif:
![Imgur](http://i.imgur.com/S9Auu0l.gif)

`:set completeopt` returns `menuone`

**How many entries are shown?**
The num of max entries are 10. It can be less but I haven't seen more. This is opposed to normal Vim/Nvim behavior.

One thing you may notice is that **YCM** isn't triggered until you press `Ctrl+Space` [For `php`] in NVim. Here it's being triggered automatically.

[2017-04-30 16:21] extr0py opened #423 "Windows: Omnisharp plugin requires administrator permissions to download"
__Issue__:

In distribution builds, on Windows, the Omnisharp (C#) language service requires administrator privilege to download the windows client. The install location on my machine, for example, is here:
"Downloading C:\\Program Files (x86)\\Oni\\resources\\app\\node_modules\\omnisharp-client\\omnisharp-win-x64-net46\\omnisharp-win-x64-net46.zip"}

Therefore, downloading this in a non-administr

[2017-04-30 16:22] extr0py commented on #420
Fixed by #421 . However, there is still #423 that causes issues and should be documented.

[2017-04-30 16:22] #420 closed

[2017-04-30 17:02] extr0py opened #424 "Language Client: Show language server messages in notifications"
For LSP, like C#, it's important to show the status of the language server. In addition to the status bar work in #383, there should also be notifications shown.

Initially, the Vim `echo` behavior can be used, but later we should leverage a first class notification UI, which is tracked by #98

[2017-04-30 18:13] extr0py commented on #391
Fixed by #415

[2017-04-30 18:15] #422 closed

[2017-04-30 18:59] #391 closed

[2017-04-30 19:03] extr0py opened #426 "v0.2.3-rc2 - OSX: C# plugin not loading"
Getting an error on initialize of the omnisharp-server

[2017-04-30 19:03] extr0py opened #427 "v0.2.3-rc2 - OSX: TSLint plugin not working"

[2017-04-30 19:17] extr0py commented on #427
Seems like TSLint is working fine when built locally, but when used with the dmg, it is no longer working.

There isn't a clear error message in the console.

[2017-04-30 19:18] extr0py commented on #426
This is failing both for local build and DMG.

[2017-04-30 19:19] extr0py commented on #426
Getting this error message:
[code]

Not sure where the `split` is coming from. At some point, this was working - it seems like it could potentially be an Omnisharp bug, or an issue with the pathing / initialization parameters.

[2017-04-30 19:29] extr0py commented on #426
Looks like this is a regression of removing the `node` dependency - we weren't passing the full set of environment variables, and `path` was being used by `omnisharp-node-client`.

[2017-04-30 19:48] extr0py commented on #427
Looks like the error message could potentially be getting swallowed by the `executeTsLint` function - should add an error handler and see if anything is bubbling up there.

[2017-05-01 03:14] #426 closed

[2017-05-01 14:18] extr0py opened #429 "v0.2.3-rc: Document current limitations with C# provider"
There are a couple of specific limitations that need to be called out in documentation:
- On Windows, Oni needs to be run as an administrator to download the C# OmniSharp package (#423)
- The initial download takes some time and does not show feedback (#424)

[2017-05-01 14:22] bryphe opened #430 "Lowering the Bar: Gamify & Improve Vimtutor"
This came about from discussion with @JosephFerano in the gitter channel. The idea is to have an improved vimtutor experience - a way to teach users modal editing in a fun, paced environment.

It is generally accepted that the way to start learning vim is to open up vimtutor and spend 45 minutes or so getting a feel for the keys, but having an actual game and measured objectives / achievements aro

[2017-05-01 15:10] bryphe opened #433 "Language Client: Formatting support"
- Add formatting support to the language client

[2017-05-01 15:16] #427 closed

[2017-05-01 19:30] josemarluedke opened #434 "Command + v (paste) not working or not implemented?"
Hey there! Fist, great project, looking forward to it evolve nicely.

I was wondering if command (or ctrl in windows) + v (or c to copy) is implemented or it is just not working for me? I tried to use the edit menu but nothing happens as well.

Using the last build (v0.2.3-rc2) on MacOs Sierra.

Thanks.

[2017-05-01 19:47] bert88sta commented on #434
Check keyboard.tsx, as of right now any command-prefixed keys are just
discarded

On May 1, 2017 3:30 PM, "Josemar Luedke" <notifications@github.com> wrote:

[2017-05-02 02:42] #429 closed

[2017-05-02 03:03] extr0py opened #435 "Upgrade Neovim binaries to released 0.2.0 build"

[2017-05-02 08:37] gglanzani opened #436 "init.vim on Windows"
Hi,

I noticed that on Windows `Oni.exe` looks for the init file by looking at  `~\oni\$MYVIMRC` instead of `~\oni\init.vim` (assuming `Oni.exe` lives in `~\oni`. Is this know behavior to scare users off? :)

[2017-05-02 11:35] extr0py commented on #436
Hi @gglanzani ,

Thanks for the issue! Ah yes, this is related to #332 .

If you want to use an `init.vim` file with Oni, you need to set the `oni.loadInitVim` value to true. You can do this as follows:
1) Open Oni
2) File -> Preferences - Edit Oni Config
3) Add an entry as follows:
[code]

Without this setting, `$MYVIMRC` isn't populated correctly.

Hope that helps!

[2017-05-02 11:36] extr0py commented on #436
It'd be nice to streamline this on Windows in the feature, by detecting this case and showing some actionable message to the user.

[2017-05-02 11:43] extr0py commented on #434
Hi @josemarluedke , cheers, thanks for reporting the issue!

Out of the box, Vim / Neovim does not support the standard platform hotkeys for cut/copy/paste (Control/Command + c and Control/Command + v mean different things in Vim).

I've been thinking about how to handle this as part of the goal of "lowering the barrier to entry" to modal editing. I believe that it makes sense to add support for t

[2017-05-02 11:44] extr0py commented on #434
The Edit Menu should be using the vim metaphors (yank and paste), but it might not be persisting them on the clipboard.

[2017-05-02 11:50] extr0py opened #437 "Get code signing certificates"
On both Windows and OSX, the security tools flag Oni because it does not have a valid code signature.

The fix for this is to get a valid signing certificate for Oni and sign on both of these platforms.

[2017-05-02 12:27] #435 closed

[2017-05-02 12:37] gglanzani commented on #436
@extr0py That is set :)

And when that is set, and I click on Edit Neovim config, it opens `~\oni\$MYVIMRC` instead of `~\oni\init.vim`

[2017-05-02 13:29] extr0py commented on #436
Weird! With that flag set, it should be able to find $MYVIMRC.

I just updated the binary for Neovim to 0.2.0 in the repo - you might want to try from the latest master. That fixes several Windows issues.

Are you using a released build, or did you build from source?

[2017-05-02 13:40] gglanzani commented on #436
@extr0py I've overwritten the neovim files (bin, share, and everything below that) with the 0.2.0 release :)

[2017-05-02 15:22] keforbes commented on #434
I have mixed feelings about this.  I can understand wanting to lower the barrier to entry by having the expected key combos for copy/paste, but at the same time, this would get in the way of a Vim-savvy user who wants to use (e.g.) visual block mode.  At the very least, I think this should be configurable.  We should probably define a "beginner mode" and a "true Vim experience" which can be toggle

[2017-05-02 15:30] keforbes commented on #436
Did that resolve the issue or is `$MYVIMRC` still not set for you?

[2017-05-02 21:38] gglanzani commented on #436
@keforbes Yes, that worked (apparently)

[2017-05-03 10:20] unclechu commented on #401
I built Neovim 0.2.0 release (without updating Oni) and now current line is highlighted after I leave CtrlSpace window but cursor is still thin line in *normal-mode* until I reset it.

[2017-05-03 16:33] #298 closed

[2017-05-03 16:40] extr0py commented on #434
Thanks for the feedback, @keforbes, these are great points. I agree, there isn't really a clear answer here.

I guess one option would be to set those mappings when we have the default plugin / Oni behavior active (controlled by the `oni.useDefaultConfig` flag). There is the unfortunate conflict with visual block mode and the usage of <Ctrl+c> in visual mode, but perhaps it is reasonable in terms

[2017-05-03 23:30] extr0py commented on #362
Starting to look at this in the context of #442 - a few initial blockers:

- `PluginManager` and `NeovimInstance` are both associated 1-to-1 with each other. For multiplexing the Neovim instance, this will need to be decoupled. `NeovimInstance` isn't used too extensively in `PluginManager`, so it seems like it can be decoupled fairly easily.
- Some pieces of UI would be global (ie, QuickOpen), whe

[2017-05-04 13:06] fasa123 opened #443 "Go-langserver"
Hi
Could you implement the golang server at https://github.com/sourcegraph/go-langserver/ ?
I for some reason cannot make it run. I copied the Omnisharp extension replaced the references to cs/omnisharp-server to go/go-langserver but it does not work. I open a go file it states Successfully activated but literally nothing happens. No autocomplete, no defs on hover, no linting, nothing.

[2017-05-04 13:22] extr0py commented on #443
Thanks for the issue! Broadening the language server support is on the roadmap for the `0.3` release, so this fits into that. I haven't used `go` yet but would be fun to try it out.

Sounds like you've already tried to give a shot - feel free to create a PR and I can help you troubleshoot a bit as well.

[2017-05-04 20:22] fasa123 commented on #443
https://github.com/fasa123/oni

https://i.imgur.com/vwzIcJX.png

[2017-05-06 19:14] extr0py opened #446 "Plugins: Expose configuration values to plugins"
For the language services, and plugins in general, it's important to expose the configuration values.

There should be an `configuration` member on the `Oni` object exposed to plugins, with the following:

`onChanged`: event, fired whenever there is a new configuration
`getValue(settingName: string)`: gets the value of a particular configuration setting

This is especially important for the langua

[2017-05-06 21:21] #443 closed

[2017-05-06 21:22] extr0py commented on #443
Started making some of the fixes for this in PR #445 . #379 tracks syntax highlighting, and #446 tracks specifying go-langserver path via config.

[2017-05-09 17:42] djwashburn commented on #332
I am still having this problem - I cannot figure out how to get oni to use my .vimrc/init.vim on Windows. I have tried copying it as init.vim AND as the literal filename $VIMRC into ~/.oni/, as well as to C:\Program Files (x86)\Oni, which is where Oni.exe lives and where the default installer put it. I have oni.loadInitVim set to true and have tried with oni.useDefaultConfig set to both true and f

[2017-05-09 19:03] Uroc327 opened #447 "Can't move over tabs when using virtualedit"
`set virtualedit=all` makes it impossible in `normal` and `visual` mode, to move over a tab (`^I`) to the right. Moving over a tab from the left works completely fine.
Also moving over the tab in `insert` mode seems to work.

[2017-05-10 14:37] extr0py commented on #447
Looks like it could be related to #399 - seems like we have a whole class of issues around `virtualedit=all`

[2017-05-11 14:43] timeyyy opened #448 "Discussion about Roadmap"
Myself as well as others in the neovim chat room have talked about the idea of having a `Plugin Manager`.
We should implement this feature as a neovim plugin (UI agnostic).

What are the plans for the `Left Pane` Feature? If the plan is to provide expose an api for scripting the pane, we could talk about how we might generalize the solution of scriptiable UI elements. It could be feasible to make

[2017-05-12 13:55] extr0py commented on #448
Hi @timeyyy ,

Thanks for looking through the roadmap! Sorry that there were not a lot of details about either of these features in the roadmap - I should have more information.

Here are my thoughts on the areas you called out:

## Plugin Management

The _Plugin Model_ for Oni is actually quite different from Neovim - superficially, JavaScript vs VimL is being used, but there are some larger arch

[2017-05-13 08:09] nzinov opened #449 "White background on startup"
When oni starts up it shows window with white background, which is quite annoying when dark theme is used.

[2017-05-13 08:40] timeyyy commented on #448
This could be taken into account, or we supply a simple api which can be composed to fulfill any use case.

We could have support for external plugin tools.

Making things general/reusable is generally a bit more work. It is definitely worth it though.

 - We could start of only implementing support for `Zplug`, someone may come along and add support for `Dein`, and now your users have more flexib

[2017-05-13 09:13] timeyyy commented on #448
My target audience is developers who want to build UI's such as Oni. In

[2017-05-13 15:03] extr0py commented on #449
Yes, this is a great point, it really hurts the polish and feel of Oni.

I have this issue tracking some ideas around improving the load flow of Oni: #355

I'll be investing heavily in polishing and smoothing out the UI as part of the 0.4 milestone.

I'll close this because I believe it is tracked in #355, but feel free to add any suggestions / ideas. Thanks!

[2017-05-13 15:03] #449 closed

[2017-05-13 15:41] extr0py commented on #448
The _any use case_ is pretty broad - I'm not convinced that an API that works well to fill in the gaps for Vim-ecosystem plugin managers will satisfy the use cases required for Oni. But I'm definitely open to discussing it.

As I get closer to looking at it for Oni, I'll dive a bit deeper and come up with the set of requirements I'm looking at, and we can look at it together and see how it might m

[2017-05-13 16:08] extr0py opened #450 "Split `Reducers.ts` into multiple files"
The `Reducers.ts` file is getting pretty large... and is many reducers combined together.

There are several targets for refactoring here:
- Move some of the reducers into sub-tree reducers (quick info, auto completion, signature help, etc)
- Move sub-tree reducers into separate files (autocompletion, popupMenu, statusBar, etc)
- Leverage `combineReducers` to exercise this more cleanly
- The sprea

[2017-05-13 16:48] bryphe opened #451 "Git integration"
Having native git (and later, more general source control) integration capabilities is very valuable.

Initially, I wanted to start by having a git branch in Oni's statusline - so this issue is split out from #201 which is the general Oni statusline implementation.

After the status line, there are several opportunities to explore - a `git blame` overlay is specifically called out in #362

Atom se

[2017-05-15 07:48] v3ss0n commented on #451
i wonder if it is best for 0ni to fork and base upon VSCode/Atom's platform. They have done all the Git / Mercurial integration works can you guys can just tap into it.
It will save alot of work and 0ni's  focuse will mainly only be to build perfect neovim-on-electron app.
Right now 0ni's line rendering is alot slower than those editors.

[2017-05-15 10:28] HiCodin opened #452 "Persist window size from last session"
I am able to maximize the windows by selecting "Maximize WIndows" from Command Palette but how can i set it default in the config file ?

[2017-05-16 13:13] extr0py commented on #452
Hi @HiCodin ,

Is the `editor.fullScreenOnStart` configuration property not working for you? I'm wondering if there has been a regression from the fix in #195

Also, did you build from source? Or download a release binary?

[2017-05-16 13:16] extr0py commented on #229
Using a lighter `msgpack` library, like `msgpack-lite` might be able to help here. The `traverse`/`decode` functionality is only needed in corner cases for the returned msgpack values, but the majority of the time we don't need it, and that is pretty expensive.

Another optimization, at least on Windows, might be to communicate over sockets vs stdin/stdout.

[2017-05-16 13:17] extr0py opened #453 "Text improperly wrapped when opening README.md"
The `README.md` in the repo is showing some wrapped text:
![image](https://cloud.githubusercontent.com/assets/13532591/26107773/41afecd2-39ff-11e7-9565-342751ce0902.png)

[2017-05-19 05:23] HiCodin commented on #452
@extr0py ah I failed to properly specify my requirement. `editor.fullScreenOnStart` is working as intended. But What I meant for this request is that instead of choosing `Maximize Window` from the Command Palette every time I open Oni, is there a way to set it default or have Oni remembered the last opened window size ?

[2017-05-22 15:11] bryphe opened #458 "Test - Spectron: Validate language services"
In order to maintain quality over releases, especially as shared components of language services are modified or new features are added, it's important to validate that the existing promises of functionality are not regressed or broken.

To that end, it'll be very important to extend the safety net of our spectron integration tests to cover language service scenarios. These should be quick smoke t

[2017-05-22 15:25] extr0py opened #459 "Test - Performance: Benchmark Responsiveness"
One of the explicit goals of Oni is performance. There have been one-off pushes to improve performance (startup time, responsiveness), and of course there is still significant work to be done to be able to claim we've reached the goal and are on-par with what a Vim user would expect in terms of interaction fluidity.

Performance, though, needs to be carefully monitored as there can be non-obvious

[2017-05-22 16:32] mrWinston opened #460 "Closing One Instances Closes all"
First of all, Thanks for all the effort. I really like Oni so far! I've just encountered one little Problem:

When i close one instance of Oni with ":q!", all other instances also close. This does not happen, when i terminate an instance with the window managers "x" button. Below is a gif showing the problem:
![](https://media.giphy.com/media/3o7btYCdCzE83gLNcI/giphy.gif)

I'm running ONI 0.2.3-12

[2017-05-22 21:27] jonaspm commented on #451
How about making it a plugin?

[2017-05-23 11:16] extr0py commented on #460
Cheers @mrWinston , thanks for the kind words!

I've run into this issue every so often too, but forgot to log an issue for it - so thanks for opening it up and including the gif. Definitely a bug

[2017-05-23 11:23] extr0py commented on #452
Ah thanks for the clarification, @HiCodin

Yes, I agree, having a way to persist some of this state (like window position) on close and then reopen would be very helpful. I'll keep this open to track that. We can start with just the window position & size.

[2017-05-23 12:20] extr0py commented on #460
Resolved by #461

[2017-05-23 12:20] #460 closed

[2017-05-23 14:12] bryphe opened #463 "Autocompletion: Reduce flicker"
The completion menu flickers as typing occurs:

![borderless](https://cloud.githubusercontent.com/assets/13532591/26358344/1c2db862-3f87-11e7-8911-452e6ac6f5ba.gif)

It looks like this is because we are closing and reopening the completion menu for each keypress, likely due to some handling in the redux store of the cursor change event. This definitely hurts the fit & finish of Oni and the complet

[2017-05-24 17:42] keforbes commented on #346
I was going to work on this issue since it seemed pretty straightforward, especially since we can use vscode's implementation as a starting point.  Unfortunately, after looking a bit closer, I found this:
https://github.com/Microsoft/vscode/blob/92ee0d1e067ae70706cddaa6feca9a7659aa4d90/src/vs/workbench/parts/cli/electron-browser/cli.contribution.ts#L101

vscode is running `osascript` to prompt the

[2017-05-24 21:22] GeorgeTG commented on #414
I have the same issue with youcomplete me.
I installed the regular way with install.py
When suggestions are displayed, typing the whole word or pressing enter
wont close the window.
So if i try to press Enter to get a new line, the keyword is inserted again.
I have to manually press Esc for the window to close and then press enter to get a new line.
I have `let g:ycm_autoclose_preview_window_after

[2017-05-25 05:18] HiCodin commented on #452
@extr0py Thanks ! is there anyway I can help you with ? Really liking this. :)

[2017-05-25 06:13] v3ss0n commented on #451
@jonaspm , good news on VSCode , VSCodeVim developers are switching to nvim. the branch have all ex commands available now .
But still , tight total integration still needs a dedicated vim editor , which the way 0ni doing is awesome.
But i really think , reusing already avaliable editors is a good idea , they have full plugin systems , themeing , extensions/package management ,  and most important

[2017-05-25 15:24] keforbes commented on #452
@HiCodin, if you're willing to implement this yourself and submit a Pull Request here are a couple pointers.

Implement it ourselves: https://github.com/electron/electron/issues/526
or
Use library: https://github.com/mawie81/electron-window-state (might be abandoned)

Note that we already have a `config.js` (look at `Config.ts`) which we could use to persist the size/position.  Also, `main.js` (at

[2017-05-25 23:28] jordwalke commented on #346
You can have a separate dedicated npm package whose only job is to create two global binaries `oni` and `oni-dev` which will open the installed `/Applications/Oni`.

I would heavily discourage those binaries being written in JS as that adds a considerable amount of startup time (100+ms). I would use a small shell script that uses some node features to work on either windows (cmd) or bash(*nix).

[2017-05-29 10:02] HiCodin commented on #452
@keforbes alright. I'll take a look at the things you mentioned. Thanks !

[2017-05-29 17:34] extr0py commented on #452
Great tips, @keforbes ! Thanks!

I was thinking about the `config.js` approach when I was looking at showing some notification UI for the language service providers - one challenge is that, with our current format (`js`), it might be difficult to write-back because it is unstructured.

- Write-back to `config.js` - there'd be some interesting challenging issues here. It might be technically possib

[2017-05-29 18:12] extr0py commented on #346
@keforbes , I'm really impressed with how you take on these issues from a Linux machine (both this and the Windows installer issue!). Good find, it does seem like we'd need to leverage `osascript` to bump the privileges. I like the symlink strategy a lot. Thanks for looking into this, it doesn't seem like we're too far away from a solution.

@jordwalke  - The separate package approach is interesti

[2017-05-29 18:28] extr0py opened #465 "QuickInfo: Move below line if too close to top"
This has always been an issue, but I'm noticing it more and more as I start adding additional language support.

![image](https://cloud.githubusercontent.com/assets/13532591/26559023/c1b63708-4461-11e7-819a-7b09fc3fbe6d.png)

The quick-info UI gets cut-off at the top. When the line is close to the top, we should show the quick-info below the line. Both quick-info and the signature help use some co

[2017-05-29 19:38] extr0py commented on #465
Fixed by #466

[2017-05-29 19:38] #465 closed

[2017-05-30 16:26] keforbes commented on #453
I'm not seeing this behavior.  Has it already been fixed or do you have to do something special to trigger it?

[2017-05-30 16:50] beatscode opened #467 "Ctrl-p always says it is loading files"
The modal box with the label "Loading Files.." hangs whenever I use Ctrl-p shortcut. Am I missing something?

[code]

[2017-05-30 17:35] keforbes commented on #467
This should be addressed by #269.  Basically, our current implementation fetches the list of all filenames under your current directory before displaying anything.  If you have a ton of files under your current working directory it may take awhile.  We're currently excluding `node_modules` by default since that directory is typically huge but you may have other large directories.

You can use the

[2017-05-30 17:44] keforbes commented on #341
It looks like the "python dependency on windows" portion of this issue has been addressed (Neovim fix committed, new build of Oni created) and the Rust portion of the request is tracked in #385.  @extr0py, can this issue be closed?

[2017-05-31 17:36] extr0py commented on #341
Thanks @keforbes! Yes, let's use #385 to track Rust language support, given that the python dependency is now addressed. I'll go ahead and close this out.

[2017-05-31 17:36] #341 closed

[2017-06-01 14:36] extr0py commented on #467
A couple additional questions:
- Which platform are you using, @beatscode ? (Windows, OS X, Linux)?
- Which directory are you opening `oni` from? You can use `:pwd` to see.
- Do you see any errors in the developer tools? You can open them using `Control+Shift+P` and then typing "Open DevTools"

[2017-06-01 14:54] extr0py commented on #376
Looks like this is resolved by #468 - thanks @keforbes !

[2017-06-01 14:54] #376 closed

[2017-06-01 15:02] extr0py commented on #453
Interesting - it might be specific to the font (using `Fira Code`) or the platform (Windows) since I believe the text rendering is different per-platform. In my case, the width per character gets measured as a fractional value (8.40625px) which might be causing some precision issues.

[2017-06-01 15:20] beatscode commented on #467
- I'm on MacBook pro Sierra 10.12.5
- Your reply made me check the readme again. I initially just downloaded the mac build. I just now ran the build instructions to try again. And that yielded the correct results when running Ctrl+p.

[2017-06-01 15:20] #467 closed

[2017-06-02 03:59] extr0py commented on #453
Fixed by #469

[2017-06-02 03:59] #453 closed

[2017-06-02 14:47] keforbes commented on #402
@unclechu, now that #376 and #453 have been fixed, would you mind re-compiling from the latest commit and see if you can still reproduce this issue?

[2017-06-02 16:59] unclechu commented on #402
@keforbes okay, will try soon.

[2017-06-02 20:05] gynet opened #471 "Feature request: Open a file by dragging the file to the panel"
It would be nice that ONI support opening a file by dragging the file over to the panel

[2017-06-02 21:01] unclechu commented on #402
@keforbes I still can reproduce it: https://youtu.be/jcHkspllgvE
Commit: b5ea293321e525e5d91035409d9634435bae3b2a

[2017-06-02 21:04] unclechu commented on #402
@keforbes except text rendering, it looks like it's fixed.

This I **cannot** reproduce (fixed):
![unicode issue screenshot](https://cloud.githubusercontent.com/assets/799353/25430101/cb78569a-2a94-11e7-8d07-5727145d0465.png)

[2017-06-02 21:13] keforbes commented on #471
Seems simple enough.  I've created pull request #472 to do it.

[2017-06-02 21:35] gynet opened #473 "Oni open binaries will cause crash"
If a user uses Oni to open a binary, e.g Oni.exe, node.dll in the package, it will crash within seconds.

[2017-06-03 15:54] extr0py commented on #473
Thanks for logging the issue! I'm assuming you're on Windows?

I'm able to reproduce as well on Windows 10. It looks like Oni gets the `disconnect` even from Neovim (which I believe means the neovim process died).

This doesn't reproduce in `nvim-qt.exe` - so I'm wondering if it is related to the default / core set of plugins we use for Oni integration. In particular, the buffer update might be ca

[2017-06-03 16:46] gynet commented on #473
Yes, I am using Windows 10

[2017-06-03 17:21] #384 closed

[2017-06-04 16:59] extr0py opened #474 "Refactoring Support"
Initial refactoring support has landed in TypeScript:
https://github.com/Microsoft/TypeScript/pull/15569

This would be a great feature for Oni - this is sort of a next-tier IDE feature that has the potential for huge productivity boosts.

There are a couple of issues that need to be considered:
- This isn't supported in a first class way by the language server protocol. There are still open issue

[2017-06-04 17:27] bryphe opened #475 "Live Evaluation Enhancements"
Live evaluation hasn't received a lot of love currently, in favor of some of the other LSP features. But this is something that we should re-invest in, especially in terms of generalizing to other languages.

Being able to tighten up that feedback loop of writing code -> seeing results is huge for productivity, which is why technology like live reloading and hot reloading is so useful.

The challe

[2017-06-05 14:30] keforbes commented on #471
Hey @gynet, this feature has been merged in.  You could build from source (`npm run build`) or download the latest v0.2.5-rc to give it a try.  Thanks!

[2017-06-05 14:36] keforbes commented on #473
Interesting, this isn't a problem on Linux; it loads binary files just fine.  I tried with nvim.exe, which is 3.8MB so I don't think large file sizes are a problem.  I wonder if this issue only occurs on Windows.

[2017-06-05 16:04] keforbes commented on #406
Closing this defect as it was confirmed fixed in #402.

[2017-06-05 16:04] #406 closed

[2017-06-05 16:27] extr0py commented on #406
Thanks @keforbes !

[2017-06-05 16:29] keforbes commented on #407
Woops, didn't mean to click that button...

[2017-06-05 16:57] keforbes commented on #407
@saibing, I finally got a chance to look at this.  First of all, you said:

The format actually needs to be in json, so the string should be:

Now, even with the correct format, this still fails:

If you look closely at that stack trace, `fzf` is created by `junegunn` and apparently the code is trying to access `/Users/jg/`.  I'm not sure if that's relevant, I just find it odd.

I *can* run `fzf`

[2017-06-05 17:17] keforbes commented on #407
@extr0py, I think the `overriddenCommand` feature is fundamentally flawed.  That external command is only used to fetch the initial set of files.  All filtering is then done in `Reducer.ts:filterMenuOptions()`.  So even if `fzf` has lightning fast filtering and clever algorithms for fuzzy matching, Oni wouldn't use them.

I think if `overriddenCommand` is defined we should probably send `searchStr

[2017-06-06 04:35] saibing commented on #407
@keforbes , thanks for your answer.

fzf is supported non-interactive mode:

[code]

[2017-06-06 10:43] roflcopter4 opened #478 "Bitmapped fonts not working."
I'm of the opinion that when it comes to working with any text whatsoever on any background that isn't white, anti aliasing is, as a rule, evil. Especially when the fonts are coloured. These are both conditions well met by any halfway decent colour scheme in Vim, and as a result I greatly prefer to use bitmapped fonts. Not only are they clearer and smaller, but you get no blurring or artifacts due

[2017-06-06 11:46] extr0py commented on #478
Hi @roflcopter4 , thanks for the detailed issue!

I did some research - it looks like bitmap fonts aren't well supported in the browser context. There was a similiar question about using a bitmap font in the browser context: https://stackoverflow.com/questions/5354935/how-to-embed-a-custom-bitmap-font-into-website-using-css

But I don't think that would solve your issue with anti-aliasing, as the

[2017-06-06 12:05] extr0py commented on #407
Yes, good point, seems like we need to re-think that flow, and make sure we're re-invoking the external command as the search string is updated. And thanks @saibing for the help with the command line invocation!

Seems like there are a couple of blockers here:

## Issue 1: `overriddenCommand` not running from correct directory

I think this is due to us not passing in the current working directory

[2017-06-06 22:36] roflcopter4 commented on #478
I do have a recommendation for a font. My favorite font in the world at the moment is one called Dina, which can be obtained [here](https://www.donationcoder.com/Software/Jibz/Dina/) for Windows. There is no "official" version compatible with Linux, but it is fairly easy to convert, and someone made a very good conversion for download in [this thread](http://www.donationcoder.com/forum/?topic=7857

[2017-06-07 06:07] gynet opened #479 "File ICO on MacOS is not shown as good as Windows"
The file ICO on MacOS is not shown as good as Windows. It is filled with a white background instead of being transparent.

[2017-06-07 17:04] extr0py commented on #479
Looks like a duplicate of #4 - the applications definitely need some love 😄

[2017-06-07 17:04] #479 closed

[2017-06-07 17:35] esparkman opened #481 "Electron Icon when building from Source"
When building from Source is it possible to get the proper Oni icon?

[2017-06-07 21:30] keforbes commented on #481
What OS are you building from?  I had this problem awhile back but it went away.

[2017-06-07 22:17] esparkman commented on #481
macOS Sierra. I'd love to get the Binary package so that I can call it from command line. That is crucial for me in my current workflow.

[2017-06-08 00:42] extr0py commented on #481
Cool, you can actually build the `Oni.app` package from the command line.

You'd do the following:
- `npm run install`
- `npm run build`

and then:
- `npm run pack`

to build the binary package. Once that's done, you'll have the dmg and zip in the `dist` folder - but you can also just run the app directly by calling `open dist/mac/Oni.app` from the root directory. You could also install Oni using

[2017-06-08 01:29] #446 closed

[2017-06-08 01:32] esparkman commented on #481
Excellent information. Do you have a suggestion executing from the command line by calling just oni? I tried symlinking but that gave me some unwanted results.

[2017-06-08 01:36] extr0py commented on #481
@keforbes had some useful information in this issue: #346

It looks like you could potentially symlink `Oni.app/Contents/MacOS/Oni` to `/usr/local/bin/oni` - does that work for you? This is basically the step we'd like to automate with #346

[2017-06-08 02:23] esparkman commented on #481
The issue I have when symlinking in that manner is Oni pipes all commands into the terminal. As in the screenshot below.

![screenshot 2017-06-07 22 22 14](https://user-images.githubusercontent.com/217422/26909626-f41bbaea-4bcf-11e7-8523-54ad07768d29.png)

[2017-06-08 14:29] extr0py commented on #481
Ah, I see. I was looking at how Atom handles this, and they have a special `atom.sh` file that they symlink: https://github.com/atom/atom/blob/master/atom.sh

I think this might be a bit more reliable - we'd add an `oni.sh` that launches oni and exits the terminal process, and then symlink to that. Then, when we automate the symlink in #346, we'd symlink to `oni.sh` instead of the actual binary.

[2017-06-08 17:53] endlist opened #483 "cmd+q doesn't quit"
On MacOS, the expected behavior for all apps is that Cmd+Q will fully close an app, including open windows.  This doesn't work for Oni, I have to either right click on the icon in the dock or use the menu bar to fully quit.

[2017-06-08 18:14] endlist opened #484 "can't open a new window after quit (macos)"
:q will close a buffer or window as expected, but if the window is closed and the app still running, I would expect to be able to open a new window with the 'New' or 'Open' command in the menu.  Instead I get this error:

![screen shot 2017-06-08 at 10 52 53 am](https://user-images.githubusercontent.com/453902/26943347-7bac1fb4-4c42-11e7-80a8-55303fbddd68.png)

I'd also expect to be able to open a

[2017-06-09 01:27] bert88sta commented on #483
Keyboard.tsx has a block of code I wrote that discards all command prefixed
key chords. As of right now we're not sure if there's going to be a
configuration value or if we'll whitelist certain common non-vim bindings

On Jun 8, 2017 1:53 PM, "‹ ⁄ li ›" <notifications@github.com> wrote:

[2017-06-10 17:04] extr0py opened #485 "Status Bar: Add language server info to status bar"
Splitting this out from #201 .

One challenge with the language server is that it's opaque to the user - often times there are interesting things happening behind the scenes (like downloading a package, or an error, etc), and these don't get bubbled up. This is especially problematic if it fails - there is no indication to the user, things just don't work.

Having the current language server statu

[2017-06-10 17:05] bryphe opened #486 "Status Bar: Add git branch status"
Splitting out from #201 - it'd be great to see the current git branch as an optional setting in the status bar. This is one item I miss with the new status bar from #201.

[2017-06-10 17:46] #201 closed

[2017-06-10 19:23] extr0py commented on #424
Will use #485 to track this instead

[2017-06-10 19:23] #424 closed

[2017-06-13 12:26] #369 closed

[2017-06-15 17:48] keforbes commented on #253
Changing difficulty to medium now that #6 is implemented.

I think this will still be on hold until Clang 5.0 comes out.  It looks like Clang 5.0 will come with `clangd`, which implements the language server protocol.
https://www.phoronix.com/scan.php?page=news_item&px=LLVM-Clang-Clangd-Server

[2017-06-15 17:50] keforbes commented on #389
Moving back to 0.3 since 0.2.5 was released without this getting merged in, #488. :stuck_out_tongue:

[2017-06-15 19:15] keforbes commented on #331
Using the latest build of Oni and Neovim, I'm not seeing this issue anymore.  I'm guessing it was fixed in Neovim and we're probably just receiving the correct mode change events now.

[2017-06-18 01:23] #407 closed

[2017-06-19 12:16] saibing opened #490 "Oni frequent crash on Windows 7"
Oni frequent crash on Windows 7,  such as the following scenario will crash:

*  enter dd  consecutively to delete text line.

* quick open file.

Oni version:
[code]

[2017-06-20 05:23] OldViking opened #492 "Hide scrollbar option"
Is there an option in the config to hide the scrollbar? If not, is it possible to add it?

[2017-06-20 15:15] extr0py commented on #490
Thanks for reporting this, @saibing !

I've seen random crashes on Windows 10 as well. It looks like that the Neovim process is actually closing, and then Oni quits in response to that.

It might be related to a couple of crashes reported in Neovim:
- neovim/neovim#6248
- neovim/neovim#4796

There's also the possibility that some of the work Oni is doing (like incremental buffer updates) is exacer

[2017-06-20 15:40] extr0py commented on #492
No config option for it, but there definitely should be. Thanks for logging this!

Should be an easy fix - I'll plan to include this in the next release (0.2.6).

[2017-06-21 01:01] saibing commented on #490
@extr0py

my oni config's content as follow:

[code]

[2017-06-21 18:04] #492 closed

[2017-06-21 20:51] Congee commented on #436
I still have the issue with `"oni.useDefaultConfig": false, "oni.loadInitVim": true`
BTW, I use the latest v0.2.5 release, with the binary installer `Oni-0.2.5-ia32-win.exe`.
:/

[2017-06-21 22:20] extr0py commented on #436
Thanks for the report, @Congee . Bummer - it looks like there are still cases where somehow the `$MYVIMRC` variable isn't set. It might be more reliable for Oni to directly open the `init.vim` directly instead of relying on that variable.

[2017-06-21 22:23] Congee commented on #436
@extr0py Or make the path customizable. 🤔

[2017-06-22 06:49] jordwalke opened #495 "Jumpy Lists:"
I had some feedback about the autocomplete documentation experience:

![onicomplete](https://user-images.githubusercontent.com/977348/27420596-73732376-56db-11e7-8760-504014a9bc8c.gif)

One thing I noticed, is that it has this particular characteristic that might be suboptimal. That is, when changing the highlighted row in the completion popup, the physical location of *other* items (below it) cha

[2017-06-22 06:52] jordwalke commented on #495
This could be totally nitpicky.

[2017-06-23 14:12] extr0py opened #496 "Change default OSX font to Menlo and font-size to 12px."
Now that I've been playing around with the OSX build for a bit, and doing more extensive editing, I think this set of defaults is better:
- font size: 12px
- font family: Menlo

I also wonder if there should be a way to change the `shell` font independently from the `editor` font, now that Oni is beginning to have more of a shell around Neovim (like the statusbar, and eventually external tabline,

[2017-06-23 14:44] extr0py commented on #495
Not nitpicky at all! This is excellent feedback, thanks for creating the issue!

I was looking at how Atom handles autocompletion, and they have a pretty nice paradigm for this:
![image](https://user-images.githubusercontent.com/13532591/27485702-a1912b6a-57e2-11e7-83dd-89aacd8b2aaa.png)

Atom keep the details pinned on the bottom, and it definitely feels better - and I think you did a great job s

[2017-06-23 20:37] #496 closed

[2017-06-25 01:12] bert88sta opened #500 "Autocompletions carry over after pressing space"
Autocompletions should be reset or refreshed after a user presses space

[2017-06-25 16:09] extr0py commented on #500
Looks like the same issue as #414 - but not specific to YCM - basically all Vim-style completion is affected. This would be really nice to fix because this feels really broken for some using Vim autocompletion...

It looks like we might need to grab the `popupmenu_hide` event from Vim and close in that case.

[2017-06-25 16:11] extr0py commented on #361
Looks like this is available in the build of Neovim that's included - `:help ui-ext-tabline`.

[2017-06-26 13:33] bert88sta commented on #500
This should be a quick fix, I'm just trying to think if there's any weird cases where neovim says to close completions even though oni itself has completions... I think neovim is smarter than us on completions mostly though, so I'll just throw a few lines into the AutoCompletion Service and test it out to see if it's mostly good

[2017-06-26 15:03] extr0py commented on #500
Yep, it looks like at the very least we'd want to hook the `popupmenu_hide` event around where we pick up the `popupmenu_show` event. There could definitely be some corner cases since the language-service powered completion gets fired a bit differently from the neovim-powered integration, worth testing around a bit to see if there is any badness. I think the worst case would be the completions wou

[2017-06-26 15:06] extr0py opened #501 "Mouse: Fix behavior on AutoCompletion UX"
- Enable clicking autocompletion items
- Add hover effect for autocompletion items
- Fix the cursor/pointer for autocompletion items, to suggest that they are clickable.

[2017-06-26 15:08] bryphe opened #502 "Mouse: Fix behavior for QuickInfo UI"
Add 'go to definition' button / hyperlink for text. Right now, there is no user experience hint to show that going to definition is available, and in what cases it's available. It'd be helpful to have some sort of UI glyph that would show whether or not go-to definition is enabled, and have that be clickable. I think the quick-info is a good place for this.

[2017-06-26 15:15] #495 closed

[2017-06-26 15:30] extr0py commented on #450
This will come about naturally as the plugins are modularized, and we really need to start doing that to see the proper way to separate this (so it doesn't make sense for this to be a stand-alone task).

[2017-06-26 15:30] #450 closed

[2017-06-27 13:19] bert88sta commented on #500
Alright, at least in my generic testing it should be good to go. We also need to stop showing a completion that is the same as the word

[2017-06-28 14:59] extr0py commented on #500
Awesome! Look forward to picking up this PR.

I can help with this piece. We do this for TypeScript / LSP already - I was thinking that handling `popupmenu_hide` might handle this, but there might need to be some special handling in Oni's completion layer.

[2017-06-28 19:25] CrossR opened #503 "Opening Multiple Files"
Hi,

Love the project!
I've been messing and using this in my day to day, and its made my Windows Dev experience much better, and very close to how I edit in Linux with pure neovim.

One thing I wonder is how to open multiple files?
I expected that I would be able to use the tab or split open from the menu and select multiple files to have them all open at once, but that doesn't seem to be the cas

[2017-06-29 00:27] keforbes commented on #503
There isn't really a good way to open multiple files yet, although I did
recently add drag-n-drop support for multiple files.  So you can give that
a try in the short term.

On Wed, Jun 28, 2017, 1:25 PM Ryan C <notifications@github.com> wrote:

[2017-06-29 03:14] bert88sta commented on #503
The main issue with opening multiple files is behavior. We can't know for sure how you'd like to open your files, and even if we can we don't know that others will.

As for your fuzzy finder issue, is it loading forever or is it just empty?

[2017-06-29 08:24] CrossR commented on #503
Yeah that's true, after I posted the comment I tried to work out what is the most sensible behavior, but there is arguments for a bunch of different ways.

It's not empty, it's just regardless of where my file is open, it only shows files relative to oni in some fashion, I think the electron folder. If I swap the search command to the suggested windows one in Config.ts, It swaps to the program fil

[2017-06-29 11:56] bert88sta commented on #486
I've got some code for this, I made a component and everything, I'm just not sure where it should go. I added a method to the Git.ts that this needs to run, so it seems like oni-core-statusbar/index.js is not the right place. Any thoughts?

[2017-06-29 13:19] adelarsq opened #504 "Integrate Java language server"
There is a support for LSP for Java on https://github.com/eclipse/eclipse.jdt.ls

It's already used on https://github.com/redhat-developer/vscode-java

Just to keep a note, since when finding some time I will help with this and #385

[2017-06-29 14:19] bert88sta opened #505 "E-mail Notification, Weather, and Time Statusbar sections"
These don't have to be defaults, but these are something I miss having when I'm in oni that I normally get from my tmux statusline

[2017-06-29 14:42] extr0py opened #506 "Fuzzy Files: Not opening files from current directory"
Splitting this out from #503 (opening multiple files) - from @CrossR:

And it looks like the behavior is as follows:

[2017-06-29 14:49] extr0py commented on #506
Just a couple of follow-up question on my end (and thanks @bert88sta for drilling into the behavior)
- How are you opening up Oni? Is it via the start menu or some other way?
- What does ":pwd" return? This is the current working directory Neovim knows about.

Right now the Fuzzy Files / QuickOpen experience uses the current working directory from Neovim, and it defaults to wherever Oni was opened

[2017-06-29 14:56] extr0py commented on #503
@CrossR , Glad to hear Oni is making your Windows Neovim experience better, that's great 👍 👍  Thanks for trying it out and for the feedback! Really appreciate you opening up the issue.

It sounds like you dug in and have a PR for opening multiple files. It's definitely a scenario we'd like to support and is really common in workflows. I don't think there are any technical blockers, since as you me

[2017-06-29 15:02] extr0py commented on #504
Thanks @adelarsq for logging the issue! Looks like Java wasn't tracked before - this would be great to integrate with. I know @keforbes has a lot of Java experience too.

Awesome, that would be great! There are starting to be several examples of LSP integration:
- `vim\core\oni-plugin-python`
- `vim\core\oni-plugin-golang`
- `vim\core\oni-plugin-csharp`

And unless there are bugs in our LSP Client

[2017-06-29 15:06] extr0py commented on #486
Awesome! That's really great. I've been missing have my git branch in the status bar, I'd be stoked to have this back.

Just to give you an idea of my long-term vision - I'd like to split up pieces of Oni into subcomponents (kind of like how Atom does it). For example, move `oni-core-statusbar` to an npm package, and same with other plugins. And move some existing functionality into plugins / pack

[2017-06-29 15:10] bert88sta commented on #486
I meant more along the lines that I didn't know if I could put it in it's own file in there or not. I'm not sure about importing Git into index.js, doesn't seem very "decoupled" and also I don't know if javascript is just going to let me import a Typescript file...

Sorry these are just basic questions haha. I like code, not architecture

[2017-06-29 15:10] extr0py commented on #505
Cool ideas! Time seems like a really easy one to enable - we could even include that in our default statusbar in `oni-core-statusbar` and enable it via a setting. It would be useful.

E-mail and weather would be great ways to exercise Oni's 'plugin' system. I'm not actually sure how the e-mail one works - would we need to support authenticating with GMail/Hotmail/etc?

Weather one seems straightfo

[2017-06-29 15:17] extr0py commented on #486
Haha not at all, the module / import system is pretty confusing in JavaScript as it is. Combine that with different strategies we have in TypeScript+Webpack vs JavaScript, and it is certainly a recipe for confusion.

It sounds like you're adding the functionality in `Git.ts` and then using it in the statusbar. You're right, you can't import that, but we can give access to it in other ways. In that

[2017-06-29 15:19] bert88sta commented on #505
I think we could include instructions, but you can set up token
authentication that only has to be done once. The user just gets the code
from google and pastes it in maybe their Config.js.

After that you just have to use a generic mail API to get unread or
something along those lines. The tmux one I think is specifically gmail but
I'm not 100% sure

On Thu, Jun 29, 2017 at 11:10 AM extr0py <noti

[2017-06-29 16:27] bert88sta commented on #486
So I'm reading through API/Oni.ts and I  don't quite understand it >_<

Am I just supposed to have Git.ts Imported in Oni.ts? I see lots of notifications getting pushed through plugin channels but that's ti.

[2017-06-29 16:35] keforbes commented on #504
Since I like adding scope-creep to features I'm not working on 😆, would it be possible to configure any arbitrary language-server implementation from `config.js`?  It seems like it really only involves a command to execute and potentially args to send to that command.  If the current plugins are primarily boilerplate code it seems like we could build this on the fly with parameters provided in the

[2017-06-29 20:52] CrossR commented on #506
So, normally I'm opening Oni via the start menu. Using :pwd like that returns F:\Program Files\Oni, which is the install directory I have.
Opening it via cmd/powershell, :pwd instead returns the folder I was in when I opened Oni.

So yeah, it is set to wherever Oni is started from. From the shell that is the current folder, but from the Start menu this is just the Program files folder.

Incidental

[2017-06-29 21:34] CrossR commented on #503
All sounds good to me!

I've add the 2 line change to make Split and Tab open multiple files, I just need to swap it now so it will check if the current tab is empty and has no edits in. Any suggestions on how to do that?

I did get it working to test how it felt by comparing against the Oni title, ie by checking the current Title wasn't "[No Name] - ONI" but thats hardly a good solution since the

[2017-06-30 15:36] extr0py commented on #503
Thanks for looking at this change! I'm assuming you're modifying `Menu.js` to handle multiple files coming back, specifically the callbacks from `dialog.showOpenDialog`:
[code]

The `Menu.js` file is in the _main process_, which doesn't know about Neovim - all of that action happens in the _renderer process_. So unfortunately we can't make that more robust check to see if the current tab is empty

[2017-06-30 15:43] extr0py commented on #504
Sounds like a great idea! For simple LSPs (which most are) that definitely seems sufficient. That would help generalize for now and we could implement more specific behavior later. It means we technically can support any LSP, and if there are more interesting pieces that need to be added, it could always be expanded out into a plugin.

Haha, not crazy at all! I'm a big fan of doing the minimum wor

[2017-06-30 15:58] extr0py commented on #486
Ya, it used to be that the plugins ran in a separate process - and the plugin channels were an abstraction to communicate between the processes. There are pros and cons to each approach, but we moved to an in-process model. The plugin channel is still used, but you don't really need it. An example of a place where it isn't used is the configuration - so that might be a good model to follow.

I'd r

[2017-06-30 18:45] bert88sta commented on #486
I have the component made and showing, but I'm not exactly sure why it isn't working. It works if I put a default value in for the branch name, but the call to getBranch() is failing and blocking the Statusbar.

I'm going to submit a PR so you can see the code

[2017-07-01 16:30] extr0py commented on #501
This would also be a good opportunity to add a scrollbar (tackle #166), and leverage something like `react-virtualized` to only render a subset of the list.

[2017-07-01 17:38] extr0py opened #509 "0.2.6: C# LSP not working"
Looks like the `omnisharp-node-client` is crashing on startup with: `    if (vscode_jsonrpc_1.ConnectionStrategy.is(arg1)) {`

Full trace:
[code]

Potentially related to package / version changes for `vscode_jsonrpc`? Need to see why it is failing now.

[2017-07-01 18:52] extr0py opened #511 "LSP: Check if completion is enabled before submitting request"
- For some LSPs (like the golang LSP), completion is not supported. We should be respecting the initialize argument and not sending completion requests.

[2017-07-01 18:53] extr0py commented on #509
Fixed by #510

[2017-07-01 18:53] #509 closed

[2017-07-01 19:02] bryphe opened #512 "Windows - Installer: Uninstall does not remove entire Oni folder"
- Uninstall does not remove Oni folder completely
- Reinstall should clean up folder - sometimes stale dependencies / libraries cause problems.

[2017-07-01 19:32] extr0py opened #513 "Linux - Include architecture in released build filenames"

[2017-07-03 01:23] #403 closed

[2017-07-03 16:46] #513 closed

[2017-07-03 17:26] extr0py commented on #512
Workaround is to manually uninstall Oni on Windows.

[2017-07-03 17:33] extr0py commented on #379
VSCode actually does this - but for large files there is a large flash of unstyled content. My plan right now is to leverage the Vim syntax highlighting for fixed items - like keywords, block styling, strings, comments, etc - and use the `documentSymbol` request for more dynamic items, like variable names.

But ya, as soon as you go out of process, you always incur some latency - so you get that f

[2017-07-03 21:50] extr0py commented on #475
I'm thinking for compile-to-JS languages, it might make sense to have an export like `live` that is available. This could be set as a configuration value per-language. There might be additional configuration needed, like the source/compilation path, for resolving imports.

[2017-07-03 22:49] #511 closed

[2017-07-04 19:08] CrossR commented on #503
I've almost got this working now.

It works for all cases except opening multiple splits whilst having no file open, and no modifications made.

I've got some VimL that I'm evaluating that says "If the file is modified, or the file is not called [No Name], then the first file in a new split/tab. If the file has no modifications and is called [No Name] then we can instead open the first file in the

[2017-07-05 14:56] extr0py commented on #503
Awesome, sounds like great progress!

What's the VimL you are using here? If you need to do major chaining / branching, you can potentially create a VimL function that we call directly from the UI layer to do the work. There's a few examples in `oni/vim/core/oni-core-interop/plugin/init.vim`. The `OniApiInfo` and `OniUpdateWindowDisplayMap` are good examples of ones that have sort of extended logi

[2017-07-05 15:16] extr0py opened #519 "Upgrade TypeScript to 2.4.1"
Looks like there were several breaking changes in this upgrade (lots of compilation errors to be fixed). These will need to be manually addressed.

[2017-07-05 15:58] extr0py opened #520 "Language Client: Implement CodeLens"
CodeLens is helpful for languages that have inferred static typing, because it can help show the inferred types. This would have implications across the rendering pipeline (especially with Neovim integration).

[2017-07-05 16:12] bryphe opened #521 "Language Client: Implement UX for go-to-definition"
There should be some notification to the user when navigating to a definition fails.

[2017-07-05 16:33] keforbes commented on #506
As a short-term solution to this issue, should we add `autochdir` to Oni's default `init.vim`?

[2017-07-06 15:35] extr0py commented on #331
I'm actually still seeing this on occasion, so re-opening. It's annoying when it does happen, because it looks like we're in insert mode!

[2017-07-06 16:13] extr0py commented on #174
Integrating the `LiveUpdate` will significantly help performance: https://github.com/neovim/neovim/pull/5269

A major drain on performance is the processing of our `msgpack` messages, and in the case of buffer updates, we are sending the entire buffer in most normal-mode cases.

[2017-07-06 16:52] bert88sta commented on #362
I don't know if this is at all feasible to improve rendering in the mean time, but could you glue multiple individual windows where neovim says there are splits?

[2017-07-06 18:22] extr0py commented on #397
I'll close this out, since it doesn't affect the resulting build.

[2017-07-06 18:22] #397 closed

[2017-07-07 16:11] extr0py opened #527 "Language Client: Find all References"

[2017-07-08 16:11] #331 closed

[2017-07-08 16:14] extr0py commented on #401
This should be addressed by #530 - please reopen if that fix does not address this.

[2017-07-08 16:14] #401 closed

[2017-07-08 16:34] extr0py commented on #521
Need to do something similiar for when `find-all-references` fails.

[2017-07-08 16:55] extr0py commented on #500
Fixed by #531 .

[2017-07-08 16:55] #500 closed

[2017-07-08 20:59] #527 closed

[2017-07-10 05:40] kornabert commented on #506
A further interesting effect of note is that if in init.vim you set it to automatically cd to a directory you desire then even though the pwd suggests you are at that directory the fuzzy search still works from the oni directory as if no cd happened. However you are actually at the new directory and if you cd up or down 1 directory then fuzzy search starts to work properly. So essentially I assume

[2017-07-11 14:52] extr0py commented on #506
Oh, interesting, thanks for the note @kornabert . Oni listens to the `DirChanged` autocmd from Neovim - I wonder if in the `autochdir` case that autocmd isn't being triggered?

[2017-07-11 16:40] keforbes commented on #519
The compilation errors are actually https://github.com/Microsoft/TypeScript/issues/16772, which can be resolved by also updating `ts-loader`.
So `typescript: 2.4.1` and `ts-loader: 2.2.2`.  I was going to submit a Pull Request with this fix but Oni currently doesn't build due to an unrelated error:
[code]
I didn't want to submit a Pull Request with a broken build so I decided to just document the

[2017-07-12 16:40] extr0py opened #533 "Language Client: Integrate diagnostic levels with existing errors"
- Leverage the `DiagnosticSeverity` as documented in the language server protocol. This is important as the OCaml/Reason language service leverages this.

[2017-07-12 16:45] extr0py commented on #519
Thanks for the investigation, @keforbes ! That helps a lot - I didn't see that issue. I'll take a shot at it and see what's going on with that error.

[2017-07-13 15:00] bert88sta commented on #229
@extr0py: Now that language server items have been implemented (mainly Change()) do you think it would be worth it to send the line/character data for buffer updates instead of the whole thing? I'm editing 700+ line scripts at work and I'm feeling the burn with the lag.

[2017-07-13 16:24] extr0py commented on #229
Cool, that's awesome you're using Oni at work!

And yes, we should definitely look at continuing to improve performance. One key thing though is to identify the bottleneck, measure, and test whether your fix addresses that bottleneck. The chrome developer tools (included with Electron, if you use `<Control+Shift+P>`, `Open Dev Tools`, and then `Performance` tab) are really great for profiling!

He

[2017-07-13 17:05] extr0py commented on #389
Merged in the `ocaml-language-server` integration, since that was blowing up (and most of it was really not specific to ocaml/reason, but just extending out the language server protocol support - since `ocaml-language-server` is the most complete implementation I've used so far).

A few remaining items I'd like to look at before closing this:
- Snippet integration (on par with what is supported in

[2017-07-14 00:38] bert88sta opened #537 "Python highlighting bugs."
I noticed that "else:" is not highlighted in python. "else :" is.

[2017-07-14 01:22] bert88sta commented on #229
@extr0py : I've been back to looking at this code chunk I wrote a bit back... Who all catches the neoviminstance emit?

[2017-07-14 02:02] bert88sta opened #538 "Latest Oni crashes on OSX"
I mucked up my old git, so I deleted and reforked. I did all the rebuilding, and I get this:

![screen shot 2017-07-13 at 10 02 01 pm](https://user-images.githubusercontent.com/8421641/28195210-f01a8256-6816-11e7-8e00-1a7e69102a45.png)

[2017-07-14 02:08] bert88sta commented on #538
As a sanity check I npm rm'd everything, but rebuilding isn't working.

[2017-07-14 14:43] keforbes commented on #503
I believe this issue was resolved with #526 so I'll go ahead and close it.

[2017-07-14 14:43] #503 closed

[2017-07-14 15:18] keforbes commented on #538
Do you need to run `npm link` again?

[2017-07-14 15:22] bert88sta commented on #538
I swear every time I reinstall I break it and look like an idiot :P

[2017-07-14 15:22] #538 closed

[2017-07-14 16:46] extr0py commented on #538
Glad you got it working! A few of the dependencies have updated, so you might need to kill all existing Oni instances, clear your `node_modules` folder, and re-run `npm install`.

[2017-07-15 16:41] extr0py commented on #537
Interesting, I believe this is controlled by the `python.vim` syntax file included in Neovim / Vim (I don't believe we're doing anything beyond here).

A couple clarifying questions:
- Do you have a file this repros on?
- Does it reproduce in Neovim as well, or only Oni?
- Are you using the `pyls` language server?

[2017-07-15 17:03] bert88sta commented on #537
Let me mess around in the bigger python script I have at work. I only noticed it in weird circumstances, might be a syntax thing (ie don't highlight if it's not a grammatically correct else:)

[2017-07-15 17:09] extr0py commented on #537
Cool, could be - might worth looking at the `python.vim` or seeing if there is a minimal repro.

It might also be that the language server is giving us `else` as a token to highlight separately, which would cause some weirdness. Let me know if you need any ideas on where to look.

[2017-07-15 18:28] #229 closed

[2017-07-15 18:29] extr0py commented on #229
Fixed with PR #536 - after that change, the rendering (both the editor layer and the react components) are clear bottlenecks. Onto the next round of performance optimizations 😄

[2017-07-16 19:00] Galbar commented on #486
Adding feedback here to for visibility: https://github.com/extr0py/oni/pull/540#issuecomment-315550296

Regarding the aditional status. I think it is a good idea but I would make it optional with a config (I don't really need that information there and it would take space in the status bar) and/or maybe make it a hover popup thing on the status bar item.

[2017-07-16 19:33] Galbar commented on #383
Is this a duplicate of #485 ?

[2017-07-17 01:49] badosu opened #541 "Display issue with status bar when changing font-size"
Changing the font size on `config.js` refreshes the screen with a visual glitch in the status bar:

![2017-07-16-224658_1356x85_scrot](https://user-images.githubusercontent.com/347552/28253329-ed79b65c-6a78-11e7-8ea2-f0268bab2458.png)

It does not persist after closing and reopening the application.

[2017-07-17 13:24] badosu opened #542 "Can't type backticks (`)"
For some reason I can't type backticks, using oni from Arch User Repositories (`aur/oni 0.2.5-1`).

The input works on any other X window, just on Oni it does not work.

Let me know if additional info is required.

[2017-07-17 14:51] extr0py commented on #486
Cheers, thanks for tracking it, @Galbar!

Agree 100% - some users will prefer the simpler / less busy experience, so making the additional status optional would be ideal.

[2017-07-17 14:54] extr0py commented on #541
Thanks for reporting this, @badosu (and the screenshot!)

I'm able to reproduce. I believe it's due to our DOM renderer strategy not properly cleaning up after the resize. I'm actually in that space now looking at rendering and performance optimizations, so I'll see if I can tackle this as part of those changes.

[2017-07-17 15:08] extr0py commented on #542
Thanks for logging the issue! Sorry you hit this - that's bizarre (and frustrating)!

Tried this out, and I'm unable to reproduce on Ubuntu. I'll see if I can get an Arch Linux box to test it out there.

A couple of follow-up questions to narrow it down:
- What does your `config.js` look like? Are you using a custom `init.vim`?
- What keyboard layout are you using?

Thanks!

[2017-07-17 16:19] badosu commented on #542
Hello @extr0py, thanks for the helpful response!

My layout is set by: `setxkbmap -model pc105 -layout br`.

I am using a custom `init.vim`, however if I use a vanilla Oni setup:

[code]

The issue persists.

[2017-07-17 16:31] badosu opened #543 "Scrollbar not updated after cursor movements (zz, zt, zb)"
After using one of the cursor movements (zz, zt or zb), the scrollbar on the right side is not visually updated.

See:

![2017-07-17-133036_1365x228_scrot](https://user-images.githubusercontent.com/347552/28278643-26381eb8-6af4-11e7-8962-cec5dbb60e69.png)

[2017-07-17 20:32] extr0py commented on #383
Derp... this sure is a duplicate! Thanks for catching it, @Galbar ! I'll close this one out since #485 has a bit more info.

[2017-07-17 20:32] #383 closed

[2017-07-18 00:27] extr0py commented on #543
Nice catch! I'm able to repro this.

It looks like most of the autocmds we hook watch for cursor being moved - but in the case where the window scrolls, and the cursor doesn't move, the scrollbar isn't updated.

A potential fix is to update the scroll state when we get the `scroll` action during `redraw`.

[2017-07-20 13:46] bert88sta opened #545 "Is it possible to individualize vim tabs and splits?"
I feel as though putting each tab in its own container, which then in turn contains multiple splits, could be beneficial for rendering. If we're forced to track where the edits are taking place or where the scrolling is, then we don't have to redraw other splits.

Also, one of the things I've always wanted (that seems impossible in vim) are split borders. I've abandoned airline in favor of the bui

[2017-07-21 14:46] extr0py commented on #519
Temporarily reverting this change, because it looks like there is a regression or a change in the completion behavior after `<` in `.tsx` files.

For example, if I'm typing in `NeovimSurface.tsx`:
[code]

I'd expect completion to pop open. However, it seems that at least this case and a few others are broken after upgrading to TypeScript 2.4.1, and the completion dialog does not open in this case.

[2017-07-21 20:29] extr0py commented on #545
Yes, great suggestion. I'm hitting this too - sometimes it's difficult to know where the split boundaries are in the current implementation!

I'd like to provide more control over the actual split window UI - borders, drop shadow, etc. And explicitly controlling the rendering here will allow us to do fancier things and more in-depth performance optimizations in the buffer rendering and responsive.

[2017-07-21 20:30] extr0py opened #547 "Error markers are off by one line"
- Error squigglies & markers seem to be off by a line for all language-service implementations.
- For python language service, all errors are showing up as informational.

[2017-07-22 16:49] #547 closed

[2017-07-22 17:37] extr0py opened #549 "Performance: Use async calls for getTrackedFiles / getUntracked files"
In the QuickOpen experience (Ctrl+P), there is a clear bottleneck with the synchronous git spawning:
![image](https://user-images.githubusercontent.com/13532591/28493326-b5285f88-6ec9-11e7-8ea7-f59e7037d3c5.png)

[2017-07-22 17:41] extr0py opened #550 "Performance: Profile react rendering using perf tools"
Today, there is a significant amount of 'wasted' rendering because the redux -> react pipeline hasn't been optimized. There is quite a bit of throughput in terms of processing redux actions, because many events (like cursor moved), trigger redux actions. Improving the performance here will help responsiveness.

[2017-07-22 20:55] extr0py commented on #550
Some testing in insert mode:
![image](https://user-images.githubusercontent.com/13532591/28494495-6a5e485c-6ee5-11e7-9093-10b363bef3f9.png)

Looks like there is definitely some opportunity for optimization!

[2017-07-23 19:04] extr0py opened #551 "Canvas Render - Multibyte characters - rendering issues with multibyte characters"
There are some artifacts when pasting:
![image](https://user-images.githubusercontent.com/13532591/28502060-0b271840-6f9f-11e7-8d1e-a5b25705b4bb.png)

From here, if you `yy` on Line 8, and paste above, you get this:
![image](https://user-images.githubusercontent.com/13532591/28502063-19fc4660-6f9f-11e7-88c8-5c0160a34f9d.png)

It looks like there are several manifestations of this, where multibyte

[2017-07-23 20:33] extr0py opened #553 "0.2.7 - Reason Language Service - Reason language server doesn't start when run from Spotlight"
At least in my config, when I was testing out the OSX release binaries, I noticed the reason / ocaml language service wasn't being started correctly, when opened from spotlight search vs the terminal.

I noticed that there were different environments being set by opening the dev tools and looking at the `process.env` variable.

In particular, most of my NPM dependencies are installed to `/usr/loca

[2017-07-23 20:44] #551 closed

[2017-07-23 21:45] extr0py commented on #533
Fixed by #534

[2017-07-23 21:45] #533 closed

[2017-07-25 01:28] Bretley opened #554 "Opening fuzzy finder in large directories."
Occasionally I accidentally open Oni from my home dir, and it tries to recursively list everything in there. Once it's started, Oni becomes pretty much unusable. I don't know that there's a great fix for this, but it's annoying when I screw up.

[2017-07-25 13:34] extr0py commented on #554
Yep, unfortunately the current strategy is synchronous:
[code]

The fix here would be to switch to executing the search command in an async manner, and streaming the results to the QuickOpen UI. That way the UI doesn't 'freeze up', and results can be accessed as we pick them up from the search command. In addition, it's common to cache locally recent results.

Thanks for opening the issue! This is

[2017-07-25 15:20] extr0py commented on #484
PR #555 fixes the open new window issue, but hooking up the menu still requires additional fixes.

[2017-07-25 16:11] #553 closed

[2017-07-28 01:02] teto commented on #33
A PR that can be of interest regarding this issue https://github.com/neovim/neovim/pull/7082

[2017-07-28 05:32] josemarluedke commented on #395
I'm also having this problem. Took me a while to find this issue here to see what the problem was. Looking forward to have this fixed.

[2017-07-31 16:09] extr0py commented on #550
Made some improvements leverage `reselect` around the `BufferScrollBar`, `StatusBar`, and `Errors`.

Next step is to check out:
- `QuickInfo`
- `CursorLineRenderer`
- `AutoCompletion`
- `Menu`

[2017-08-01 12:24] extr0py commented on #550
Resolved by #558

[2017-08-01 12:24] #550 closed

[2017-08-01 12:42] extr0py commented on #485
This was added by #524

[2017-08-01 12:42] #485 closed

[2017-08-02 13:46] zQueal opened #559 "Lightweight?"
I really feel this classification is a huge misnomer.

Starting up Oni, with nothing opened it's consuming 90MB of RAM and 2% CPU just being idle. Not to mention the install folder is 250MB large. The binary alone is 56MB.

gVim running by itself consumes less than 10MB of RAM and is just under 3MB for me.

What exactly about Oni is lightweight?

[2017-08-02 14:46] bryphe opened #560 "Reduce installation size and footprint"
- Includes work for #350, which will decrease size / footprint on disk. Will be easier to fix that after the full set of fixes.

There are several other places we need to optimize the package size, though:
- Are all the node_modules needed? Are they being pruned correctly? Should they be flattened? This is a pretty huge culprit, at ~150MB.
- Remove unbuilt sources from package
- Does all of font a

[2017-08-02 14:49] extr0py opened #561 "CPU usage even when idle"
Oni is using some CPU even when idle. This is a common problem among electron apps, but usually can be minimized.

One key issue is that the render animation loop is triggered, even when idle or nothing is changed. This should be updated so that we only `requestAnimationFrame` when there is actually something to draw.

[2017-08-02 14:55] extr0py commented on #559
That's fair criticism - with the phrase `Lightweight IDE`, I was considering it relative to Visual Studio or Webstorm. But I can see where someone coming from gvim wouldn't see that way.

And I agree with your concerns. I thought I had some of these issues tracked, but I opened up #560 (relating to the installation package size / footprint) & #561 (CPU usage when idle).

Lightweight might be a poo

[2017-08-02 14:55] #559 closed

[2017-08-02 17:06] zQueal commented on #559
Sounds good to me! Great work, by the way. I didn't necessarily mean to criticize, just was wondering what the mentality was there.

[2017-08-02 19:10] extr0py commented on #559
Cheers, thanks! 😄

For sure, it's a valid point. Setting the right expectations is important - thanks for logging the issue!

[2017-08-02 23:08] josemarluedke opened #562 "Quickinfo panel too small"
The quick info panel usually is too small to have a good, fluid read of the description. Bellow is an example of what I mean.

<img width="609" alt="screen shot 2017-08-02 at 4 05 05 pm" src="https://user-images.githubusercontent.com/230476/28898793-a27f1544-779c-11e7-8898-3035b6422f19.png">

Happy to fix this if provided guidance. Thanks.

[2017-08-03 07:46] roflcopter4 commented on #478
I just wanted to post here, for the record, that there already seems to be a miraculous and bizarre partial solution to this problem. A series of unfortunate circumstances compelled me to use Microsoft's VS, which I quickly found also did not support raster fonts. I nonetheless vainly googled around for a while to see if there were a way around, and to some shock I found that there apparently is.

[2017-08-03 15:52] extr0py commented on #478
Interesting, thanks for the update!

That's pretty bizarre... I did a skim through the article and it seems like there were some _very_ specific requirements for this to work.

Glad it actually worked, and that someone had already converted your font!

One thing to note is that in the latest release (0.2.7), I've also switched Oni back to the canvas render strategy by default, for performance reas

[2017-08-03 16:24] extr0py commented on #562
Thanks for logging the issue, @josemarluedke (and for the great screenshot).  Glad this is tracked! It's a very visible bug and certainly hurts the polish and usability of the app.

It seems like there are a couple issues here:

- The `title` element is wrapping - we should add the `white-space`: `nowrap` style to the title to accomodate this. I think this would be enough to solve the issue in the

[2017-08-04 03:39] cyansprite commented on #506
I suggest whenever you are in the in QuickOpen, and you call show()
if you are in the install directory (is this possible to make a global var/envionrment var when installing?) instead of
[code]
show something along the lines of bookmarks the user can set in the config file, which then will change to a directory, which will make fuzzy finding work in that new directory.

I know you are working on

[2017-08-04 17:48] bryphe opened #564 "Tabs: Implement scrollbar when there is overflow"
The case when there is an 'overflow' (too many tabs) isn't handled today.

There should be the following:
- A minimal scrollbar to allow easy navigating via the mouse, if desired
- Focusing the proper tab - so even if you navigate via keyboard, that would get scrolled into view.

[2017-08-04 18:13] extr0py commented on #506
Thanks for the idea, @cyansprite ! Having `QuickOpen` show files from the install directory is almost never what the user would intend, or expect, so showing bookmarks or projects set in the config file sounds like a great option. I like the idea a lot!

We can actually figure out the install directory based on the value of `process.execPath`. For example, for Oni, installed in Windows, `process.e

[2017-08-04 18:31] extr0py commented on #361
Resolved by #557, which adds support for this, along with configuration values documented in the readme.

[2017-08-04 18:31] #361 closed

[2017-08-04 20:06] bert88sta opened #565 "I've lost the ability to resize on OSX"
I ran:

npm install; npm run build; npm link

after merging the new tabline implementation. My (full) screen looks kind of ridiculous and blown up

![screen shot 2017-08-04 at 4 05 25 pm](https://user-images.githubusercontent.com/8421641/28985058-ccf1a088-792e-11e7-900b-054fe026c0c3.png)

[2017-08-04 20:07] bert88sta commented on #565
I still seriously think that somehow TMUX is messing this up

[2017-08-04 20:09] bert88sta commented on #565
Ah nevermind, fixed it. I'm really not sure why weird things like this happen. Through my own testing, it seems like it's either the issue with OSX not really closing the last process, or TMUX is messing with things (which has been the case with other programs that run from command line)

[2017-08-04 20:09] #565 closed

[2017-08-04 20:14] extr0py commented on #565
Oh, interesting! There was a change to the `main` process which gets shared between instances - so you might need to close all instances of Oni for the resize to work correctly. It now uses this thing called a `ResizeObserver` that requires a flag to be specified on the browser, which happens in the main process:
__main.js__
[code]

 If there was an instance  of Oni opened, it wouldn't get that fl

[2017-08-04 20:21] extr0py opened #566 "Add 'Open Folder' option to Oni"
Splitting this out from #506 - there should be a way in Oni to easily open a folder. This is pretty common functionality in other editors, like VSCode. It'd be helpful to have an `Open Folder` menu option in the `File` menu for Oni.

As far as I know, Vim/Neovim don't have a concept of opening a folder, so we'd have to define what that means for Oni.

Right now, this would do the following:
- Set

[2017-08-04 20:24] extr0py commented on #506
I split out #566 from this - which is specifically adding an "Open Folder" option to the menu. This could be done separately from the items called out above (adding projects / bookmarks), so I thought it made sense to have a separate issue

[2017-08-04 20:26] cyansprite commented on #566
Perhaps when this happens we could set off an async task to gather up the files (git ignore in mind) and cache these files, I'm working on a neovim plugin for searching, replacing and destroying, I can look into how to integrate that with Oni (is there a way to integrate python and typescript? I can try converting it), and the maybe add some kind of caching system after I figure out the open folde

[2017-08-04 20:29] cyansprite commented on #473
I will look into this too since I am making a plugin and it sometimes opens very, very large files :).

[2017-08-04 21:25] cyansprite commented on #543
It also doesn't update the linting errors.

[2017-08-04 22:17] cyansprite opened #567 "add c-j and c-k to quick info?"
### Can we/I add c-j and c-k so I can navigate using these?
<i>Might also be advantageous to add up and down for new users</i>
Hell... we could make this a setting too?
[code]

[2017-08-04 22:18] cyansprite commented on #506
Can you assign me?
I don't know how assigning works, I've never worked on github with anyone.

[2017-08-04 22:22] cyansprite commented on #506
Oh and we need a folder icon?

[2017-08-04 22:49] cyansprite commented on #506
But i have it working :)

[2017-08-04 23:10] cyansprite commented on #506
for now I'm using this "chain"
http://fontawesome.io/icon/link/

[2017-08-05 01:01] cyansprite commented on #506
I submitted a pull request, let me know what you think.

[2017-08-05 02:32] bert88sta commented on #567
We're working on a way currently to make keybindings much easier, but it's going to take a while.

Bear with us :)

[2017-08-05 09:32] hoschi commented on #362
@extr0py I saw you completed #557 and want to ask if you had some insights which bring this task further?

I'm also really interested in that feature, because I have an advanced use case for
managing splits (I call them editors) in another way it works at the moment in vim
(and other apps like Atom/VsCode/...). I build a project which enables the user to not
only edit files like all of us are used

[2017-08-05 09:36] hoschi commented on #362
It is also possible to have function *and* file editors:
![mixed](https://user-images.githubusercontent.com/163128/28994594-4b355e14-79d2-11e7-9b95-affa5f3c0847.png)

Sorry if this was not clear, you can still edit the way you are used to even with NFBE integrated.

[2017-08-05 14:58] extr0py commented on #395
Put a bounty on this in case someone is interested in checking it out, as it sounds like it is impacting several people:
https://www.bountysource.com/issues/44356173-weird-scrolling-behavior-when-scrolloff-is-set-to-a-non-zero-value

There are a few places to look in terms of investigation:
- `browser\src\neovim\NeovimInstance.ts` - check out the `msgpack-rpc` messages we receive from Neovim in th

[2017-08-05 15:02] extr0py commented on #562
Using @josemarluedke 's fix and it's a much nicer experience now! 😄

I was going to close this out, but there's still an issue when it gets clipped near the edge of the screen - I'll leave this issue open to track that.

[2017-08-05 15:10] extr0py commented on #566
Sounds reasonable! As a side benefit, this would also help significantly with `QuickOpen` performance - if we could cache those results instead of having to ask git or the tool of choice everytime.

VSCode actually has something similiar... Their search functionality is powered by a tool called RipGrep, which they package via npm as: https://www.npmjs.com/package/vscode-ripgrep . It's actually bui

[2017-08-05 15:21] extr0py commented on #506
I don't know how assigning works, I've never worked on github with anyone.

It's weird - looks like only collaborators (so myself & keforbes) show up in the assignees list. Looks related to this github issue: https://github.com/isaacs/github/issues/100

But it's great to have you working with us 😄

http://fontawesome.io/icon/link/

Perfect! We'll probably need to experiment a bit and see what an i

[2017-08-05 15:38] extr0py commented on #567
Definitely! There are a few open issues in terms of key bindings:
#20 , #366, #404

But the case where the keybindings go through Oni (and don't round-trip through Neovim) is actually the simplest.

Exposing this as a setting would be a good solution in the interim while that's being worked out. Perhaps something like `keybindings.nextMenuItem` and `keybindings.previousMenuItem` would be reasonabl

[2017-08-05 16:08] cyansprite commented on #506
@extr0py
Okay the run dist:win and pack:win it's not working debugging as to why right now, will make another commit and update PR. Thank you!
I will also test on Linux later. Won't be home much today but I will try  to get it done

[2017-08-05 16:29] cyansprite commented on #506
Also we should check if ~ because i doubt the user would ever want that as well.

[2017-08-05 16:38] extr0py commented on #506
Bummer, @cyansprite - let me know if you're getting an error message or something. I can help you troubleshoot a bit!

Good call.. both #554 and #177 are related to this!

[2017-08-05 16:41] extr0py commented on #566
Created a PR to add the open folder option (#570) - it just changes the working directory at the moment.

I think one additional item that might be useful is that, since there is now the buffer/tab bar, it might be more useful for the statusline to show the current working directory, instead of the current file.

[2017-08-05 16:58] cyansprite commented on #506
Also i noticed that if you select loading files it tried to open loading files..
Going to fix that and also going to detect if bookmarks is empty then offer to direct to oni config.

[2017-08-05 17:01] cyansprite commented on #506
Also with my plugin im making I've researched file types that are never to be opened so i compiled a list and I think i can write some kind of binary checker to ensure we don't open binary files or show them such as .exe

[2017-08-05 17:53] cyansprite commented on #567
@extropy I will definitely research this after working on the quickopen issues

[2017-08-05 17:58] extr0py commented on #362
Hi @hoschi ,

Thanks for the detailed write-up and descriptions! The screenshots were really helpful in terms of visualizing the idea.

IMO I really like the experience you describe - I believe I saw something before sort of like it (I think perhaps it was [LightTable](http://lighttable.com/)). This is exactly the sort of concept that I would like to experiment with in Oni, and __exploring new par

[2017-08-05 18:00] cyansprite commented on #451
I don't think it's necessary to integrate with atom or vs code, you get some nice features but you also take all of their bugs with you and you are limited to their preferences and philosophy.

[2017-08-05 18:14] cyansprite commented on #566
I think cwd makes more sense as well in status bar and have tabs to show files and we might implement breadcrumbs from the cwd for the tabbar.

I will look into creating a binary once done.

[2017-08-05 18:23] cyansprite commented on #554
I will try to look into this.

[2017-08-05 18:25] cyansprite commented on #436
I will look into this.

[2017-08-05 18:29] cyansprite commented on #269
I will look into this.

[2017-08-05 18:33] cyansprite commented on #566
Also I will look into converting to typescript.

[2017-08-05 20:17] extr0py commented on #362
@hoschi - Here's the light table video that your proposal reminded me of: [Light Table - a new IDE](https://www.youtube.com/watch?v=H58-n7uldoU)

[2017-08-06 15:25] bryphe opened #571 "Open Folder: Persist opened folder on launch"
If the user has opened a folder, and then launches Oni again from an install directory, we should persist that and default to opening from their previous folder.

This fits in with persisting other editor settings - like window size (#452), open files, etc.

[2017-08-06 15:47] hoschi commented on #362
I'm glad that you like the idea @extr0py !

I found Light Table when it was in an early stage and they said they want to do what I did, but then switched away to that "we build a new programming language to make this all happen" and so I started something that works with already used languages like JavaScript.

That said, I'm a professional JS freelancer ... but don't know much about VimL. I use V

[2017-08-06 16:57] extr0py commented on #566
That would be awesome! The statusbar plugin would be much easier to work with (especially around the JSX elements) with typescript.

I added a change to show the working directory instead of the full path, and hooked up the click handler to bring up the open folder dialog in #570

[2017-08-06 17:07] extr0py commented on #362
Yeah, that's a bummer... I was reading up on it yesterday, because I was curious what happened with it. It certainly had some ambitious ideas, and it's interesting that they decided to bail and create a new language.

I think, though, that these core ideas - REPL-based development, live evaluation of variables, breaking code into chunks besides files - are powerful and useful in existing languages

[2017-08-06 18:56] #561 closed

[2017-08-06 19:57] cyansprite commented on #506
Almost done :)...

[2017-08-06 20:19] cyansprite commented on #506
if on ubuntu need to run (if not already)
[code]
 that way you have rpmbuild

[2017-08-07 11:35] hoschi opened #575 "FocusGained vim event doesn't work"
I use [vim-gitgutter]( https://github.com/airblade/vim-gitgutter) and also have this code to switch to normal line numbers when window looses focus:
[code]

Both don't work with Oni, because `FocusGained` and `FocusLost` doesn't fire.

[2017-08-07 13:51] hoschi commented on #564
Instead of a scrollbar, is it possible to make the tabs container wrapping in to more lines than one? Like flexbox + flex-wrap. I know that behavior of IntelliJ and really liked it. With a scrollbar you not see all your opened tabs. Probably it is a problem that the editor space gets smaller so a render cycle in NVim must be triggered?

[2017-08-07 13:55] hoschi commented on #564
![multi line tabs](http://hadihariri.com/images/no-tabs-1.png)
from http://hadihariri.com/2014/06/24/no-tabs-in-intellij-idea/

[2017-08-07 13:59] hoschi commented on #162
I have the same thing, but with latest release v0.2.7
![2017-08-07-155759_609x54_scrot](https://user-images.githubusercontent.com/163128/29029834-4526ad08-7b89-11e7-8bcf-e7c50e061271.png)
the text is
[code]
I'm also on Linux like @keforbes

[2017-08-07 14:00] hoschi commented on #162
When I go into line selection mode (`V`) and back to normal mode I I see them with strange artifacts. Underscores and artifacts go away when I switch modes again or do something other.

![2017-08-07-155942_621x47_scrot](https://user-images.githubusercontent.com/163128/29029918-9904e4a8-7b89-11e7-9541-01ad8cb436e8.png)

[2017-08-07 14:04] hoschi commented on #145
I use Ramda for years now and `R.pipe` combined with other Ramda functions and ES6 arrow functions can replace a good amount of imperative code and are *much* more readable:
http://randycoulman.com/blog/2016/06/14/thinking-in-ramda-declarative-programming/

[2017-08-07 14:57] extr0py commented on #162
Thanks for the screenshots, @hoschi ! I have seen this occasionally, but not able to reproduce it consistently. I think the default color scheme hides it a bit - when I switch to another color scheme, the problem shows up more. So your screenshots were really helpful. Which colorscheme are you using, btw?

This is certainly a regression from the switch from DOM Rendering -> Canvas Rendering. It lo

[2017-08-07 14:59] extr0py commented on #162
In regards to the underscore - it looks like the text measurement may not be completely accurate. For the canvas rendering strategy, the character sizing has to be precise - I believe the character measuring logic might not be handling descenders correctly.

[2017-08-07 15:23] hoschi commented on #162
@extr0py
I use a [solarized](https://github.com/lifepillar/vim-solarized8 ) theme:
[code]

[2017-08-07 15:43] cyansprite commented on #554
Looking into what strategy to use

[2017-08-07 16:13] extr0py commented on #554
Cool! I think the most important thing here is to be able to replace the `execSync` in `getTrackedFiles` and `getUntrackedFiles` - that'd be the first step.

The other part is, the way the Menu is currently structured, is it sort of expects to have all the items in one-go. I was thinking about changing the API a bit:
- Have an option to show some sort of 'loading' experience, so that the user know

[2017-08-07 16:16] extr0py commented on #564
@hoschi - interesting idea! I didn't think about this. Yes, it would definitely be doable, we'd just have it overflow to the next row.

Perhaps we could make it an option - I think I would prefer the look of a single-line of tabs, but I could see where some would prefer this. Thanks for the suggestion!

[2017-08-07 16:20] hoschi commented on #564
@extr0py great :+1:
Yeah, I think some people want to stick to the default vim behavior. An option would be good.

[2017-08-07 18:11] cyansprite commented on #554
I'm thinking about how we use quickopen and about files, bookmarks, and was playing around with an idea similiar to fzf.vim where quickopen will become an interface or abstraction and we have a bookmark , file , folder,
Buffer(s) lines, etc quick open. Trying to figure out if that would be a preferred strategy also adding files as they load instead of batch loading.

[2017-08-07 18:11] cyansprite commented on #554
And yes first and foremost ditch the batch load :)

[2017-08-07 18:14] cyansprite commented on #554
And yes the loading indicator shouldn't be a selectable item, put it on the left or right side of the text field or something and then go away or show a different icon after.

[2017-08-07 20:24] badosu opened #577 "Completion dropdown gets hidden when on bottom"
There should be a mechanism to recalculate it's y position if called from the bottom or something else to keep being usable.

![2017-08-07-172216_869x165_scrot](https://user-images.githubusercontent.com/347552/29044320-490b9544-7b95-11e7-906f-6265e8373bff.png)

[2017-08-08 03:42] cyansprite commented on #554
Just a preview of hey, I'm getting async to work :), this is a simple example but the point is, I'm getting there :).
<a href="http://imgur.com/bnEnhru"><img src="http://i.imgur.com/bnEnhru.gif" title="source: imgur.com" /></a>

[2017-08-08 07:42] hoschi opened #578 "How to modify cursor?"
I want to change the cursor color to something other than "black", because with a light theme the text color is black(ish) and so ... black on black is hard to read ;)
I thought this can be done with:
[code]
but doesn't work. Also it doesn't work in terminal, but I think because cursor color is controlled by terminal settings here.

Also I want to disable the blinking which should be done by setti

[2017-08-08 11:49] #575 closed

[2017-08-08 11:53] hoschi commented on #575
that was fast 0.0 thanks!

[2017-08-08 11:54] extr0py commented on #575
@hoschi , thanks 😄 That one was relatively straightforward and had been on my backlog anyway.... so figured it was time to go in. Appreciate you logging the issue!

[2017-08-08 11:56] extr0py commented on #577
Thanks for logging the issue, @badosu !

This is related to the popover issue in #526 too (for QuickInfo). The positioning determination should be generalized, and leveraged for both autocompletion and quickinfo.

In the case you showed where autocompletion is hitting the bottom, it should open upwards so it isn't clipped.

[2017-08-08 12:15] extr0py commented on #4
I've been trying to experiment a bit and look at a simpler logo - something a bit abstract.

Here's one prototype I came up with:

![image](https://user-images.githubusercontent.com/13532591/29071446-89c880e8-7bf8-11e7-8d91-5b6380d9b767.png)

[2017-08-08 12:26] hoschi opened #579 "Can't run latest master"
I wanted to switch to master from last stable release but got this error:
![2017-08-08-142537_1320x1409_scrot](https://user-images.githubusercontent.com/163128/29071818-74401568-7c45-11e7-97ba-b5e2213cb7be.png)

terminal output:
[code]

[2017-08-08 12:32] extr0py commented on #579
Ah, thanks for all the details, that's helpful!

The latest master tries to use the `ext_tabline` option which came in Neovim 0.2.0.

It's a bug though that Oni isn't more graceful in this case (like, letting you know that it requires it). We had some UI previously for that but it looks like it's not getting triggered in that case - I'll check that out.

In the meantime, is it possible to try upgr

[2017-08-08 12:37] hoschi commented on #579
It must be later than 0.2.0, I have `VIM v0.2.0-240-gc5f4b92ff` and this thing is "old as hell" in OSS terms (not updated for months). You can close this issue if you want, because I don't think I have to upgrade neovim in the next 7 days :(

[2017-08-08 12:40] extr0py commented on #579
I'm also taking a look to see if we can more gracefully handle older versions of Neovim by doing feature-existence checks (for example, in this case, everything _should_ work except for vim-style tabs..)

[2017-08-08 13:42] cyansprite commented on #567
@extr0py
An idea I had instead of putting it in the oni config, what if we having a keybindings.js and we can have a menu link to open it as well?

I will test in a bit and see how it flows with our code.

But reason being is for my suggestion, my init.vim has all my vim stuff, and then I source plug.vim for all my plugins, I don't like them being all in the same file, because it gets messy.

Key

[2017-08-08 13:45] bert88sta opened #580 "set mouse=a as default?"
This is an IDE. It has a GUI. People's individual configs can undo if they'd wish, but neovim already has fairly smart handling of multiple clicks and visual selection with drag (which works with Oni without any further additions to Mouse.ts)

[2017-08-08 13:48] cyansprite commented on #4
@extr0py
it's really pretty but I don't think neovim when I see it, I think we might need some reference to it as well... maybe something like take the big circle with the gradient in the background, overlay/burn/diff the neovim logo onto it, then place the second smaller circle on top of it so it's behind it.

What does <i>Oni</i> mean to you?

I think of yokai and brother.

Maybe we could integr

[2017-08-08 13:51] cyansprite commented on #580
:+1:
I would also like a way to select text that isn't selectable my neovim's mouse=a such as an error msg so I can copy and paste it outside of the editor, but as far as defaults go I think this is very reasonable.

[2017-08-08 14:00] extr0py commented on #580
Good catch, makes sense to me!

[2017-08-08 14:10] extr0py commented on #4
@cyansprite , thanks for the feedback!

I think it's actually okay for the logo to be a bit more "abstract". It sets an expectation that, even though Oni is built around Neovim, there may be some differences (for example, plugins authored in JavaScript). I think this is an important consideration - if someone opens Oni and expects `nvim-qt`, they may be disappointed (ideally, if Oni is done right,

[2017-08-08 14:13] cyansprite commented on #579
I ran into this issue too onto linux, updating neovim to see if this will be a soft fix.

:+1:

[2017-08-08 14:16] cyansprite commented on #578
I know neovim is having issues with the cursor color is well... in the terminal if you
[code]
does it work?

[2017-08-08 14:16] cyansprite commented on #578
if your terminal such as terminator controls the cursor color try gnome or tilix

[2017-08-08 14:19] cyansprite commented on #571
This should be a setting...
I don't like this in vscode/sublime I hated whenever I closed it it would reopen what I was doing last.

[2017-08-08 14:24] cyansprite commented on #579
downloading the latest neovims binary seems to fix it...
also if I do oni . instead of opening the current folder it opens a file named .

[2017-08-08 14:28] bert88sta opened #582 "Can we use passive event listeners for a bump in scroll performance?"

[2017-08-08 14:32] bert88sta commented on #582
The video on this site is a nice comparison, although these may be geared more for touch devices

https://medium.com/@devlucky/about-passive-event-listeners-224ff620e68c

[2017-08-08 14:37] cyansprite commented on #579
ah netrw fault, not oni... cool.

[2017-08-08 14:49] extr0py commented on #4
Here's a draft of a headline / splash image as well:

![image](https://user-images.githubusercontent.com/13532591/29077903-f07ae028-7c0d-11e7-928e-e1fcdd5de1e3.png)

I used the [Orbitron](https://fonts.google.com/specimen/Orbitron?query=orbi&selection.family=Orbitron) font to convey sort of a futuristic / modern / high-tech feel.

[2017-08-08 14:54] #580 closed

[2017-08-08 14:59] extr0py commented on #579
@hoschi - I just tried on my Ubuntu machine, which was running nvim 0.2.0-dev - so I guess it came in 0.2.1. Sorry about that.

I have PR #583 to query the neovim version and not try to set `ext_tabline` if it isn't supported. This fixes the issue on my machine - hope it works for you too.

[2017-08-08 15:01] hoschi commented on #578
I'm fine with the color in terminal, just wanted to mention that.

[2017-08-08 15:02] extr0py commented on #582
For the main scroll scenario - scrolling a Window in Neovim - we actually handle that really outside the browser infrastructure. So the passive event listeners unfortunately won't be helpful there.

There are a few proposals in #88. The bottleneck at the moment is rendering - we basically re-render _every line that changes_, which since most lines move in a scroll, is a lot of rendering!

There ar

[2017-08-08 15:09] cyansprite commented on #554
Also I may implement <c-i> to select more than one file

[2017-08-08 15:11] extr0py commented on #554
@cyansprite - great progress! 😄  Very cool!

Is it possible to show the files as they are loading? It would be cool to be able to start selecting while the list is populating.

Cool!

[2017-08-08 15:11] #582 closed

[2017-08-08 15:15] extr0py commented on #578
Ya, right now, the cursor in Oni is implemented completely outside of Neovim (aside from the positioning information).

__Long-term__ my goal is to enable _skins_ / _styling_ - like customization beyond just colorschemes. In other words, I'd like enough customization here to enable something like [atom power mode](https://atom.io/packages/activate-power-mode) for Oni.

I could see customization ea

[2017-08-08 15:35] extr0py commented on #566
This was added by #570

[2017-08-08 15:35] #566 closed

[2017-08-08 15:35] extr0py commented on #567
Sure, `keybindings.js` sounds like a good place for it!

[2017-08-08 16:01] extr0py commented on #578
It's actually pretty straightforward in this case to pick more reasonable colors for the cursor, since we stash the current foreground / background color as part of screen rendering.

Using those gives me this for `solarized8_light`:
![image](https://user-images.githubusercontent.com/13532591/29081704-179221e4-7c18-11e7-9db2-872b7f5500a0.png)

Putting together a PR now.

[2017-08-08 16:20] #579 closed

[2017-08-08 17:00] cyansprite commented on #554
You will be able to :)

[2017-08-08 17:00] #578 closed

[2017-08-08 17:06] keforbes commented on #4
@extr0py, I actually love the new logo.  I agree you want something simple so it is still recognizable at 16x16 pixels but smooth enough that it looks good at higher resolutions.  I think the blue/green gradient *is* reminiscent of Neovim and I like how the triangle in the middle is almost like a 'v' for vim. 👍

[2017-08-08 18:00] extr0py commented on #4
Nice, thanks @keforbes ! 😄 Great to hear.

[2017-08-08 19:21] cyansprite opened #585 "Configuration.ts leaking listeners"
We create a lot of these the code path is pretty long Configuration -> Oni -> Plugin -> ...
Basically, would it be more beneficial to switch this to a singleton?
I'm doing this with the Config ( currently working on keybindings and abstracting it )
So I wonder if we could do the same for this?

[2017-08-09 05:05] benjamin-rood commented on #174
I'm getting some (tolerable) keyboard input lag on very big files from this issue in Oni, and monstrously large input lag in VS Code using the VSCodeVim extension. Hopefully the `LiveUpdate` PR will help with that too.

[2017-08-09 13:08] cyansprite commented on #4
What release would we add it?

[2017-08-09 14:10] keforbes opened #586 "Open vs Tab Open"
If I launch Oni and go to Oni(File) -> Tab Open, all files will be opened in new tabs and `gt` will move between tabs.  If I launch Oni and go to Oni(File) -> Open, all files will be opened in new tabs but `gt` will *not* move between tabs.

I'm not sure what benefit there is to having both Open and Tab Open given that they seem to do the same thing.  The only difference between the two that I see

[2017-08-09 14:13] keforbes commented on #586
Also, it looks like any files opened using the fuzzy finder follow the Open code path because those files are ignored by `gt` as well.

[2017-08-09 14:16] cyansprite commented on #586
If you open a tab in vanilla vim/neovim, you with a new <i>Tab</i> which you can cycle with gt
If you open a file normally, you will open up a buffer.

The oni tab bar handles both...
Due to how vim handles buffers and tabs it's hard to figure out what the correct behavior <i>SHOULD</i> be

[2017-08-09 14:37] extr0py commented on #4
@cyansprite - I'm planning on bringing this in as part of the next release (0.2.8).

[2017-08-09 15:02] cyansprite commented on #162
I also have this issue...
Whenever I use j and move past the line it disappears, but if use k and go back up it, it reappears...

[2017-08-09 15:21] cyansprite commented on #549
I am looking into this

[2017-08-09 15:33] extr0py commented on #549
Awesome, thanks @cyansprite ! I hit this a bunch in my workflow

[2017-08-09 15:36] extr0py commented on #560
`lodash` seems pretty huge too - we should only include the subset needed, and remove it from `node_modules` entirely - it's getting double-packed, both in `node_modules` and in the webpack bundle.

[2017-08-09 15:38] cyansprite commented on #549
Yeah same and it overrided my old way of doing it and I think this is my favorite line of feature so glad to be working on it :)

[2017-08-09 15:51] extr0py commented on #586
Good catch... It's really confusing to have 'Open...', 'Tab Open..', 'Split Open...', AND 'Open Folder...' - especially when we now have the buffer line here.

Right, it's confusing... especially in the context of making Oni inviting to 'new' Vim users - a tab means something very different in the vim-world versus in most other editors...

This sounds good to me. It alleviates the confusion, a new

[2017-08-09 15:58] extr0py commented on #585
Oh ya, thanks for logging this issue!

I think one quick way to fix this would be, in the `browser/src/Plugins/Api/Configuration.ts`:
[code]

This object gets created for _every_ plugin, and it _always_ starts listening to configuration changes... even if there is no listener registered.

I think it might be good instead to only start listening the first time we get the _onConfigurationChangedEven

[2017-08-09 16:10] extr0py opened #588 "Migrate 'main process' Javascript files to TypeScript"
- Move `main.js`, `Menu.js`, `installDevTools.js` to a `main` folder
- Set up `tsconfig.json` in `oni\main`
- Hook up build commands

Would be nice to get the main process code in TypeScript

[2017-08-09 16:40] #4 closed

[2017-08-09 17:09] extr0py commented on #174
@benjamin-rood - thanks for letting us know! Yes, the `LiveUpdate` should offer big performance improvements for us... especially in cases when we are sending the whole buffer over (like, any normal mode operation).

Just a couple of questions:
- Are you seeing input lag for particular gestures? (Typing in insert mode, moving in normal mode, scrolling?)
- What OS are you on?
- How big is the file?

[2017-08-09 17:25] cyansprite commented on #585
:+1:

So each plugin has their own configuration?

[2017-08-09 17:36] extr0py commented on #585
At least right now, there is an `Oni` object created for _each plugin_ (and then each of those `Oni` objects creates that `Configuration` object, which listens to `Config.ts`).

Some of it is over-complicated, because previously, all the plugins were hosted in completely isolated contexts. I moved away from that now and I'd like to move towards  having a common `Oni` object that is shared between

[2017-08-09 17:51] cyansprite commented on #585
I think this is the best and yeah I understand, only so much you can do.

[2017-08-09 23:09] extr0py commented on #475
Also, the live eval functionality should not be responsible for managing compilation - it should be using an existing pipeline.

[2017-08-09 23:54] cyansprite commented on #554
@extr0py You asked for files, I give you files
Probably should change how we load files into it... but hey it's cool :P

<a href="http://imgur.com/wHObU5X"><img src="http://i.imgur.com/wHObU5X.gif" title="source: imgur.com" /></a>

[2017-08-10 01:05] extr0py commented on #549
Nice, that's great to hear 😄

[2017-08-10 01:06] extr0py commented on #554
Great to see the progress! Thanks for sharing the gif @cyansprite .

 Ya, that 'violent scrolling' might be a bit jarring... it'd be cool to have some sort of progress indicator somewhere (or even just a counter of how many files we've indexed).  Looks fast though!

[2017-08-10 03:58] cyansprite commented on #554
Got rid of the scrolling, going to work on a number.

[2017-08-10 13:10] Bretley opened #591 "Hidden buffers are shown in buffer tabline"
I have a custom vimscript function that I use to effectively make a "popup" terminal show up.

[code]

This causes a new "no name" tab to appear, but it isn't accessible, I.e. clicking on it doesn't take me to an empty buffer, and I can't exit it by clicking on it.

[2017-08-10 13:12] extr0py commented on #591
Thanks for logging this @bert88sta ! Ya, sounds like we're not handling hidden buffers correctly - they shouldn't be shown in tabs.

[2017-08-10 15:15] extr0py commented on #543
I have a partial fix - but it turns out there isn't a great way currently to detect this case. The autocmds we listen to work fine if the cursor moves, but in the case where the screen scrolls but the cursor _does not_ move, it's a bit less reliable.

Ideally, there'd be a `Scroll` autocmd we could listen to in order to give us this info. There's a tracking issue in neovim/neovim#4322

[2017-08-10 16:16] extr0py commented on #591
@bert88sta - just curious - is there a reason why you are setting the buffer to hidden in this case?

[2017-08-10 16:39] cyansprite commented on #591
I do something similar it's so that if I use something that switches through buffer it hides the ones that are hidden, that way I don't switch through my buffers and accidentally open my terminal instead of a file I'm trying to get to.

[2017-08-10 17:49] bert88sta opened #593 "Tabs being opened in window splits (?)"
[![https://gyazo.com/03dba385abddd98b0741d47acdb079dc](https://i.gyazo.com/03dba385abddd98b0741d47acdb079dc.gif)](https://gyazo.com/03dba385abddd98b0741d47acdb079dc)

Tabs are supposed to contain window splits of their own, but these seem to open whatever buffer is first in a tabpage into the current split (which works perfectly fine if you don't work with split windows at all)

[2017-08-10 18:09] extr0py commented on #593
By default, the tabline shows opened buffers. If you want it to show vim-style-tabs, you'll need to set the `tabs.showVimTabs` option to true. There's some discussion around this in #586 too.

[2017-08-10 18:14] bert88sta commented on #593
Hmm, not sure I like it as a default setting or as a gui-friendly setting, although I could imagine it being useful if i wanted persistent windows.

[2017-08-10 18:19] extr0py commented on #593
IMO, showing buffers by default at the top more closely maps to how other _most other editor works_ - and one of the goals of Oni is to lower the barrier to entry. 'Tabs' in the vim world mean something different from all other editors that have this UX concept. If someone prefers the 'vim-tab' based workflow, they can still enable that.

I'll close this for now, but let me know if you have any ot

[2017-08-10 18:19] #593 closed

[2017-08-11 00:08] #586 closed

[2017-08-11 16:11] keforbes opened #596 "Scrollbar is gone"
Is it just me?  Is it just Linux?  I don't have a scrollbar in Oni anymore.

![no_scrollbar](https://user-images.githubusercontent.com/817509/29221877-9e3384f6-7e7d-11e7-8d46-bc54490df157.png)

[2017-08-11 16:32] CrossR commented on #596
Same for me on Windows 10, using the latest commit on master.

[2017-08-11 16:35] extr0py commented on #596
Ah yes, this is a regression from some of the react / redux performance work. I have a fix for this, I'll push it up. Sorry about that!

[2017-08-11 16:44] CrossR opened #598 ""Open With" support"
The last big thing that is preventing me from using Oni full time is proper integrations into my OS as an editor.

For me this means:
* Oni registered as a file editor
  * This seems to already be the case.
* "Open With" support.
  * Ie, I can double click a text file and it opens in Oni.
* "Recent File" support.
  * This looks to be implemented, since I've got it in my Windows 10 start menu, but

[2017-08-11 17:02] extr0py opened #600 "'Open File' should open in current file, if file is empty"
This was implemented in , but regressed in PR #586, because it misses using that code path.

All the 'multi-open' files should go through that common code path that was added in #526

It'd be good to factor this to use a `command` so that we have a common code path. There might be a case later too where we'd expose a setting on how the files open (for example, `tabe` vs `e`).

[2017-08-11 17:08] extr0py commented on #598
Hi @CrossR ! Thanks for logging this issue. These sorts of blockers are really helpful to call out, as I'm sure this is a blocker for others as well.

On Windows, the 'Open With' functionality is controlled by a registry key. So we'd need to update our installer to build up those associations. There's a stackoverflow thread here:
https://stackoverflow.com/questions/26536030/inno-setup-file-associa

[2017-08-11 18:41] extr0py commented on #596
Fixed by #599

[2017-08-11 18:41] #596 closed

[2017-08-11 19:07] CrossR commented on #598
Looks like getting the registry keys added isn't so bad, its just a few lines in the setup.template.iss file.
What is awkward is that you need to duplicate those lines for each and every extension you want to support...

If you look at the VSCode .iss file here, you can see its just massive : https://github.com/Microsoft/vscode/blob/master/build/win32/code.iss

Since its so easy to add yourself (R

[2017-08-11 19:33] #519 closed

[2017-08-11 19:38] extr0py commented on #598
What is awkward is that you need to duplicate those lines for each and every extension you want to support...

Cool, nice find! It looks like most of the entries are duplicates, except for the file extensions.... Since we already use a javascript script to generate our `iss` file, we could probably reduce that duplication and just have like a javascript array of supported extensions.

I just tried

[2017-08-11 19:44] keforbes opened #602 "Closing tabs from command-line (ex) mode"
If I have multiple tabs open and I type `:q` or `:close`, the focus will change to a previous tab as if the active tab had closed but the tab itself still remains.  `gt` will correctly skip the "closed" tab but clicking on the tab will still display the file.  It seems the only way to close a tab is by clicking the `X` button... with your _mouse_. :scream:

[2017-08-11 20:46] cyansprite commented on #549
Pretty much done with this... just making some minor changes then I will push my commit to my PR and then you can let me know what you think.

[2017-08-11 20:47] cyansprite commented on #554
Number will be in a later PR I've never used React -.-

[2017-08-11 21:22] extr0py commented on #602
Yikes, that is atrocious!

I think this is related to #593 - by default we just show the _buffers_ , unless `editor.showVimTabs` is set to `true`. If you change that setting, I think the behavior will be more what you would expect.

My goal with showing _buffers_ by default is it more closely maps to how other editors work, but it sounds like this default is really confusing to both you and @bert8

[2017-08-11 21:38] extr0py commented on #549
Cool, I just checked the PR and I like how you consolidate the two calls.

[2017-08-11 21:52] extr0py commented on #602
One thing I realized too, if we change that default to `editor.showVimTabs` to `true`, it kind of fixes #591 too...

[2017-08-12 06:48] cyansprite opened #604 "Status bar colors not really an issue... more of enhancement/discussion"
I was playing around tonight... I'm pretty picky when it comes to colors.

<a href="http://imgur.com/MgS5vjb"><img src="http://i.imgur.com/MgS5vjb.gif" title="source: imgur.com" /></a>

achieved by (oni statusbar core), but my concerned is... should we have a color file, or should it just be part of the config file? It's what I ran into while playing around with the keybindings...

[code]

[2017-08-12 10:17] CrossR commented on #604
I remember poking around the tickets and seeing this: https://github.com/extr0py/oni/issues/33

Obviously no idea if it changed since then, but it looks like goal at one point was to have a separate file for it.

I think that makes more sense, as potentially you'd want to share colourschemes etc, without having to remove your config from it too.

[2017-08-12 15:50] cyansprite commented on #423
I use c# heavily with Unity, I will see if I can fix this at some point...
Assuming I get time :P.
Also might add on to your plugin, great idea to have it as a plugin!

[2017-08-12 15:54] cyansprite commented on #604
Yeah, I agree it should be a separate file...
I'm not sure if it should be a .js or .tmTheme, or .json, or .less...
However, abstracting Config.ts would be the best option for .js file, it would match the current format of the Config.

Of course we could change this altogether, json is super light weight to parse.
.less could be implemented natively and so we don't have to parse it really.
.tmThem

[2017-08-12 19:52] bert88sta opened #610 "Scriptability of Oni"
How scriptable is Oni right now? I know that we have an existing plugin infrastructure, but if I miss the whole "Just add it to your .vimrc" mentality for small things

[2017-08-12 19:58] bert88sta commented on #24
This is old and no longer relevant with either solarized or default

[2017-08-12 19:58] #24 closed

[2017-08-12 19:59] bert88sta commented on #537
Haven't seen a repro, so I'm going to go ahead and say that I wrote something poorly and the vim syntax highlighter didn't see it

[2017-08-12 19:59] #537 closed

[2017-08-12 20:28] extr0py commented on #423
Nice 😄 Do you have any games in the app store or anything?

That would be great!

[2017-08-12 20:28] extr0py commented on #423
FYI, since I moved the code to a separate repo, I ported this issue over - extr0py/oni-language-csharp#1. So I'll close this one and track it there.

[2017-08-12 20:29] #423 closed

[2017-08-12 20:29] extr0py commented on #537
Cool, thanks for following up and closing it @bert88sta ! Nice to see the issue count go down a bit..

[2017-08-12 20:42] cyansprite commented on #543
An idea...
it's not a fix but more of a hack, but if we get the keys pressed to do with scrolling, we can catch those keys, then send them to vim (like we do with all the other keys) and then after wards, redraw the screen.

[2017-08-12 21:03] cyansprite commented on #423
Not yet currently working on one, got a bit distracted with Oni :P.

[2017-08-12 22:10] extr0py commented on #604
Definitely, this has been an issue for a while! And even moreso now that there are more extensibility points in the UI, that aren't covered by vim colorschemes.

For now, exposing customizations in the configuration seems reasonable.

I'm thinking something like:
[code]
(Which is pretty similiar to what you suggested above - thanks @cyansprite !)

That seems like a reasonable first step - if someo

[2017-08-12 22:16] extr0py commented on #610
Great question. This is something I've been thinking about.

One thing I'd like to do is treat the `Config.js` as a mini-plugin, and have an `activate` method for it - so you can script against the `Oni` object.

You can also open the developer tools and make calls against the `Oni` object (which is the same thing the plugins get), but it's not super interesting - it'll be moreso once there are th

[2017-08-12 23:01] extr0py commented on #600
Fixed by #612

[2017-08-12 23:01] #600 closed

[2017-08-12 23:22] cyansprite commented on #604
I will implement something like this and let you know how it flows with a branch and PR of course :P.
[code]
I will also work on a menu item and picking a color scheme... maybe we can make the vim-colorscheme plugin something we can use ( Do we support term colors? )
If not the actual plugin we could wrap it into a js plugin :P.

[2017-08-13 00:02] extr0py commented on #423
@cyansprite , shoot, well keep me posted if you ever need a beta tester 😄

[2017-08-13 00:05] extr0py commented on #423
And as an aside, I'm thinking about some ways to gamify Oni - like an improved vimtutor experience / game, as well as just the act of editing and becoming proficient at Vim more enjoyable. #430 tracks some of those ideas - I imagine you might have some ideas around there too, given your background in games!

[2017-08-13 00:19] cyansprite commented on #423
Do you have an android phone?

I was actually thinking about that, like making an adventure game where you move with hjkl and you can use f and t to jump to enemies or something like dta will jump to kill enemy before a, and dfa would jump to kill enemy a... just a thought I never pieced it altogether, I will take a look in a bit :).

[2017-08-13 04:26] keforbes commented on #602
Setting `editor.showVimTabs` to `true` didn't appear to have any effect on this.  Also, even if this *could've* been handled by a config setting I'd still call it a defect since `gt` iterates through all tabs and `:q` causes `gt` to skip the tab but the tab is actually still visible.  Even if you're trying to distinguish between buffers and tabs I think we're still mixing metaphors here.

[2017-08-13 05:08] bert88sta commented on #610
Maybe a dumb example, but hypothetically I might want to change the
background color of the whole status bar based on mode. I don't actually,
but it seems like something I *should* be able to do. I don't know that
it's going to be feasible in JS and electron, but basically any state that
isn't critical to the editor's correct functionality should be available to
the user

On Sat, Aug 12, 2017, 6:1

[2017-08-13 10:14] CrossR commented on #598
That made a lot more sense so I've swapped to that instead. From checking out the VSCode implementation I also realised how easy it was to add Oni to the Windows Path (#344) so I've done that too.

Yep, thats the case, in main.js we do `createWindow(process.argv.slice(2), process.cwd())`. I'm not fully sure how to go about sorting that though.

There is two cases when there is two arguments:
1. Wh

[2017-08-13 15:06] cyansprite commented on #591
in ./browser/src/UI/components/Tabs.tsx
[code]

that way you don't have to click directly on the name but you can click the corner without an X.
This is an issue I ran into with things with short names.

in browser/src/neovim/Buffer.ts
[code]

that way we can check buffer var of hidden/listed.
I think hidden might be fine to leave in the tabs since I jump from buffers a lot and don't use tabs, but

[2017-08-13 15:20] cyansprite commented on #604
Also a feauture I would want to add is cursorline changing color in insertmode, its a feature I like.

[2017-08-13 17:27] extr0py opened #614 "Feature: Search & Replace"
For Oni, I'd like there to be an embedded / native search and replace capability, with the ability to find across files, and replace across files.

This should be easy to navigate, and I should be able to use the existing keybindings and knowledge I have in navigation through neovim/buffers in order to leverage this UI and the results.

This issue is to discuss what sort of functionality and flow

[2017-08-13 17:29] extr0py commented on #604
Excellent, that definitely seems doable, if we have colors defined for the cursorline / cursorcolumn.

This kind of goes with #610 - if we expose an `activate` method in `config.js`, we could set up stuff like that as a personalized configuration.

[2017-08-13 17:37] extr0py commented on #610
Not a dumb example at all, this is great, and is exactly what I'd like to support.

The way I'm thinking about this would be, in `Config.js`, we'd expose an activate method:
[code]

Something like that... It's a bit awkward having the function in the same space as the configuration, but I'd like to use 'activate' and 'deactivate' as reserved capabilities here.

The setting of color properties ties

[2017-08-13 17:44] extr0py commented on #591
Good call! The tab issue is pretty straightforward, I'll open a PR for that.

For the buffers - we'll have to figure out the timing of when we make that request (seems like we'd have to check it for all buffers too). It would be nice to have this metadata for the buffers available in the Redux store, so the UI could treat it appropriately -

[2017-08-13 18:21] extr0py commented on #610
Here's another scriptability example I was thinking of the other day - I'd like to make an easy way to take screenshots of the window (or, later, even record/pause/stop gifs/videos):

[code]

[2017-08-13 18:42] extr0py commented on #543
Ya, in a similiar vein, we could do something like:
``` nnoremap zt :Call ExecAndNotifyOni('zt')<CR>```

Like run the command on the Vim side, and then notify Oni that there was an update

[2017-08-14 00:31] cyansprite commented on #614
Right... I'm not sure how it would work either, I've been thinking about this a lot (especially where I was making a plug in) and I got a really good feel for what I like and what I don't.

I've discovered that as far as typing in the search I would want it to be at the bottom of the screen.

Then to open in a vsp, or a new tab (we can make our own dialog even? my plugin just made a scratch buffer

[2017-08-14 16:00] extr0py commented on #350
Bringing this back, as the asar package unfortunately __regressed__ package size. The files / folders specified in `asarUnpack` are actually _still stored_ in the asar package - almost doubling the size!

Will need to follow up and see if there is a configuration change to avoid this, otherwise, we may need a custom packaging strategy or see if there is a possibility of pushing a fix to `electron-

[2017-08-14 18:00] CrossR commented on #512
Under what context does this happen?

So far, I've not had any issues with the Oni folder not being deleted, I've been uninstalling and reinstalling like crazy whilst messing with reg keys, and the only time I hit this was because I was attempting to uninstall whilst I had Oni running.

It looks like Inno has a way of checking if the process is running at uninstall time, so I could look at adding

[2017-08-15 04:42] cyansprite commented on #614
Eh... I hate that its fast only if it loads all at once, api calls to update the buffer is slow...
And if i hate python -.-... Hates a strong word but i don't like it.

I say if you are ready to implement find and replace because its something I feel that we need rather soon ( I miss it frequently when using oni )

That way we can also gather files quickly too. Rg can do that and I will work on bu

[2017-08-15 13:23] extr0py commented on #512
Ah ya, I just tried again and uninstall worked fine. I think you're right - it must've been I had an active process.

Checking if the process is running sounds like a good solution!

[2017-08-15 16:19] hoschi commented on #362
I'm sitting at the task "share overview of architecture/integration of NFBE and Oni" and found probably a problem with my current architecture and the integration into Oni.
I just want to ask some (probably really dumb) questions, before I head into the wrong direction ;)

NFBE is at the moment a React+Redux app and all logic to make functions of a file editable is handled in reducer functions.
As

[2017-08-16 16:23] #506 closed

[2017-08-16 16:46] extr0py commented on #362
Yes, I really like this functional approach - it feels magical and enforces a clear separation of 'state changes' vs 'UI rendering'. Oni uses React+Redux for most of the enhanced UI (autocompletion, menu, buffer scrollbar, statusbar, tabs, etc).

That's correct. Actually, the very first prototype I did with Oni was using React+Redux to do _all of the rendering_. Performance was a major issue - eve

[2017-08-16 17:08] cyansprite opened #624 "Tabline says dirty after undolevels = 0"
Vim help:
[code]

So you can change the buffer, but the tab icon is still dirty.
I'm not sure what we need to detect in order to update the tab state, I can do some research on this.

[2017-08-16 17:16] extr0py commented on #624
Nice catch... I've seen a bit of flakiness around the dirty indicator so perhaps this is related.

I think right now we are using the 'b:changedtick' variable - perhaps we need to switch to use '&modified'?

[2017-08-16 17:26] cyansprite commented on #624
right because b:changedtick will change even if you type and then undo like wise undo redo (assuming you saved after a change)

so checking &modified <i>should</i> give us the correct answer each time, I just test and it and seems correct

[2017-08-16 17:27] cyansprite commented on #624
[code]

[2017-08-16 20:49] cyansprite commented on #434
<Control/Command + c> - copy the selected text to the clipboard

I've used c-c to copy in visual mode, as long as you exit visual mode at the same time, it doesn't interfere with my workflow (yes I'm one of those people who use c-c as escape because I learned the `bad` way); As long as you make it direct to "+ and make sure "" stays in tack to what it was originally, it works fine. (I only ever us

[2017-08-16 22:22] extr0py commented on #624
Cool, that does seem what we want!

To implement this, right now, the `UI.Actions.bufferUpdate` takes a `version` parameter. Seems like we'd want to replace that with an `isDirty` flag. We'd have to modify it in a couple places (action creator, action, reducer, state).

In addition, we don't send up the `&modified` flag. We might want to add that to the context we send up from neovim -> Oni. If we

[2017-08-17 02:41] cyansprite commented on #505
Time would be nice, weather and e-mail extra/optional, it's not something I really want to see in my editor :P. Great idea all the same, one tmux thing I really enjoyed on the status line was cpu stats.

[2017-08-17 04:43] cyansprite commented on #68
This is really interesting...
I was thinking about this a lot today, I think something that would be helpful would be template.json files... you can create?

Example for Unity I always want to look for .cs usually and sometimes shaders, so if I have a template I can find just .cs files, and so when I make a new projcet, open in Oni I can do a task generate .oni from template or something, and bam.

[2017-08-17 14:24] hoschi commented on #362
Thanks for answering my questions :)
I then scratch the in place refactoring and release the current version of Yode (prior known as NFBE) as next step. With the switch to an event/method API I need to change a good amount of code anyways, so this is includes the refactoring then.

I finished my overview diagram:

![oni-yode integration](https://user-images.githubusercontent.com/163128/29417107-5e

[2017-08-17 14:34] hoschi commented on #362
I forgot the events/actions I identified from current code.

Events

* text updated
* buffer/window closed
* file opened
* buffer should be saved to disk

Actions

* set buffer "read only"
* add error UI for connected buffers (e.g. function buffer which contains to file)
* set buffer content for buffer ID
* swap window X with Y
* create buffer
* create window to show buffer

[2017-08-18 15:25] cyansprite opened #628 "Clipboard pastes per line"
Copy a lot of lines of text and use c-v, it will go through each line an insert it slowly.
[code]

I think it might be better to use norm! "+p?

[2017-08-18 15:38] CrossR commented on #628
This might also help something I've noticed on my machine where I get a space between each copied line.
I copy:
[code]

but when I paste I get
[code]

It is being brought into the clipboard correctly, as other editors are fine with pasting it, its just pasting into oni.

[2017-08-18 16:15] extr0py commented on #628
Thanks for logging this! It seems like there are a few issues with multiline text (newlines, formatting).

For multine line pasting, it might be better to set the buffer line(s) directly, as opposed to simulating typing in insert mode.

Unfortunately this doesn't work for me on Windows - I've tried a few different settings for `set clipboard` in my `init.vim`. Is there anything special you had to

[2017-08-18 18:35] CrossR commented on #628
With `"oni.useDefaultConfig": true,` and `"oni.loadInitVim": false,` using `:norm! "+p` worked for me at least, and without any newlines.

I could Ctrl+c and then use that command and it pasted at the cursor position.

[2017-08-18 18:40] CrossR commented on #344
This was added with #613.

[2017-08-18 18:48] CrossR commented on #598
Windows support for this was added with #613.

I'm probably not the best person to implement this on the Mac side, as I have no devices to test this on.

[2017-08-19 02:20] cyansprite commented on #628
@extr0py Use
´´´:CheckHealth´´´
And make sure the clipboard provider is set.

We can bypass the neovim clipboard provider assuming the user doesn't want to try fix the issue, we can save a register override it with the contents of oni clipboard (if it contains more than one line use V, if one line use character wise v and we wont use c-v because we can't copy like that outside of vim.)

Thanks for

[2017-08-19 14:53] extr0py commented on #344
Verified it's working for me with the latest Windows installer - nice!

[2017-08-19 14:53] #344 closed

[2017-08-19 14:55] extr0py commented on #344
I guess you can't claim the bounty until the issue is closed - bountysource should give you a "Claim Bounty" option now.

[2017-08-19 15:02] extr0py opened #629 "Package Size: Move TSLint to external plugin"
TSLint contributes ~ 5MB of dependencies to our tree:

__Before:__
[code]

__After:__
[code]

This helps remove bloat, especially since only a subset of users will be interested in built-in TSLint support.

[2017-08-19 15:07] extr0py commented on #629
Created a repo to host it: https://github.com/extr0py/oni-plugin-tslint

[2017-08-19 16:09] #629 closed

[2017-08-20 10:32] CrossR commented on #628
I've realised that the "Paste" option under the Edit menu does this similarly to the way @cyansprite is proposing.

```click: (item, focusedWindow) => executeVimCommand('\\"+gP')```

So if there is issues around it not working it may affect there too.

[2017-08-20 15:02] mhartington opened #636 "Open from command line"
Similar to VSCode, Atom, and VimR, Oni should offer a command line script that starts the editor in the current directory.  I have a simple  one for vscode

[code]

Or something more complicated like atom

<details>

[code]

</details>

[2017-08-20 15:11] cyansprite commented on #636
Perhaps we could handle if we get a folder as a parameter, we should open it to that directory, we don't need flags really, just

[code]

We can check was the argument a directory, if so then chdir to it, otherwise use the current working directory.

Right now whatever directory you are in on the command line will open that directory, we should have a more robust approach.

If we get multiple para